.button {
    // todo: add hovers
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.03em;
    transition: 0.3s ease;
    transition-property: background-color, color;

    &.disabled {
        pointer-events: none;
    }

    &--standard {
        padding: 0 12px;
        line-height: 17px;
        font-size: 14px;
    }

    &--size {
        &-auto {
            padding: 0;
        }

        &-standard {
            height: 56px;
            border-radius: 8px;
        }

        &-small {
            height: 40px;
            border-radius: 4px;
        }
    }

    &--background {
        &-transparent {
            background-color: transparent;
        }

        &-blue {
            background-color: $blue;

            &.disabled {
                background-color: $button-second;
            }
        }

        &-gray {
            background-color: $background-footer;
        }

        &-gray-dark {
            background-color: $button-second;
        }
    }

    &--color {
        &-blue {
            color: $blue;
        }

        &-white {
            color: $white;

            &.disabled {
                color: $background-footer;
            }
        }
    }

    &--icon {
        span {
            position: relative;

            &::before {
                //font-family: $icon;
                font-size: 24px;
                line-height: 24px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                transition: 0.3s ease;
                transition-property: transform;
            }
        }

        &-position {
            &-left {
                span {
                    padding-left: 48px;

                    &::before {
                        left: 0;
                    }
                }
            }

            &-right {
                span {
                    padding-right: 24px;

                    &::before {
                        right: 0;
                    }
                }
            }

            &-center {
                span {
                    &::before {
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }

        &-rotate {
            &-vertical {
                span {
                    &::before {
                        transform: translateY(-50%) rotate(-180deg);
                    }
                }
            }
        }

        &-dots {
            span {
                &::before {
                    content: '\e904';
                }
            }
        }

        &-edit {
            span {
                &::before {
                    content: '\e905';
                }
            }
        }

        &-delete {
            span {
                &::before {
                    content: '\e903';
                }
            }
        }

        &-barcode {
            span {
                &::before {
                    font-size: 32px;
                    content: '\e901';
                }
            }
        }

        &-arrow-bottom {
            span {
                &::before {
                    content: '\e900';
                    line-height: 16px;
                    font-size: 16px;
                }
            }
        }

        &-plus {
            span {
                &::before {
                    content: '+';
                    line-height: 24px;
                }
            }
        }
    }

    &--border {
        &-gray-dark {
            border: 1px solid $button-second;
        }
    }
}
