@mixin title-h1 {
  font-family: $Stratos;
  font-weight: normal;
  font-size: 48px;
  line-height: 58px;
  color: $blue;
  margin: 0;
}

@mixin title-tablet-h1 {
  font-family: $Stratos;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: $blue;
  margin: 0;
}

@mixin title-h2 {
  font-family: $Stratos;
  font-weight: normal;
  font-size: 32px;
  line-height: 38px;
  color: $blue;
  margin: 0;
}

@mixin title-tablet-h2 {
  font-family: $Stratos;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  margin: 0;
}

@mixin title-tablet-h3 {
  font-family: $Stratos;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  margin: 0;
}

@mixin title-tablet-h4 {
  font-family: $Stratos;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  margin: 0;
}

@mixin title-tablet-h5 {
  font-family: $Stratos;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  margin: 0;
}

@mixin title-h3 {
  font-family: $Stratos;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
}

@mixin title-h4 {
  font-family: $Stratos;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

@mixin title-h5 {
  font-family: $Stratos;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: $black-text;
  margin: 0;
}

@mixin text-big {
  font-family: $Stratos;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  color: $blue;
  margin: 0;
}

@mixin text-tablet-big {
  font-family: $Stratos;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: $blue;
  margin: 0;
}

@mixin text {
  font-size: 16px;
  line-height: 26px;
  margin: 0;
}

@mixin text-tablet {
  font-size: 14px;
  line-height: 22px;
  margin: 0;
}

@mixin text-blue {
  font-size: 16px;
  line-height: 24px;
  color: $blue;
  margin: 0;
}

@mixin text-tablet-blue {
  font-size: 14px;
  line-height: 17px;
  color: $blue;
  margin: 0;
}

@mixin list {
  list-style: none;
  margin: 0;
  padding: 0;
}
