@mixin title-h1 {
	font-family: $Stratos;
	font-weight: normal;
	font-size: 3em;
	line-height: 120%;
	color: $blue;
	margin: 0;
}

@mixin title-tablet-h1 {
	font-family: $Stratos;
	font-weight: normal;
	font-size: 1.5em;
	line-height: 100%;
	color: $blue;
	margin: 0;
}

@mixin title-h2 {
	font-family: $Stratos;
	font-weight: normal;
	font-size: 2em;
	line-height: 120%;
	color: $blue;
	margin: 0;
}

@mixin title-tablet-h2 {
	font-family: $Stratos;
	font-weight: normal;
	font-size: 1.125em;
	line-height: 150%;
	margin: 0;
}

@mixin title-h3 {
	font-family: $Stratos;
	font-weight: normal;
	font-size: 1.5em;
	line-height: 120%;
	margin: 0;
}

@mixin title-h4 {
	font-family: $Stratos;
	font-weight: normal;
	font-size: 1.25em;
	line-height: 120%;
	margin: 0;
}

@mixin title-h5 {
	font-family: $Stratos;
	font-weight: normal;
	font-size: 1em;
	line-height: 150%;
	color: $black-text;
	margin: 0;
}

@mixin text-big {
	font-family: $Stratos;
	font-weight: normal;
	font-size: 1.5em;
	line-height: 212%;
	color: $blue;
	margin: 0;
}

@mixin text-tablet-big {
	font-family: $Stratos;
	font-weight: normal;
	font-size: 1.125em;
	line-height: 150%;
	color: $blue;
	margin: 0;
}

@mixin text {
	font-size: 1em;
	line-height: 150%;
	margin: 0;
}

@mixin text-tablet {
	font-size: 0.875em;
	line-height: 160%;
	margin: 0;
}

@mixin text-blue {
	font-size: 1em;
	line-height: 150%;
	color: $blue;
	margin: 0;
}

@mixin text-tablet-blue {
	font-size: 0.875em;
	line-height: 125%;
	color: $blue;
	margin: 0;
}

@mixin list {
	list-style: none;
	margin: 0;
	padding: 0;
}
