
$white:                   #ffffff;
$black:                   #000000;
$black-vision:            #0b0b0b;
$blue:                    #000078;
$black-text:              #212529;
$hover-text:              #2d80fc;
$button-second:           #cccce4;
$light-gray:              #9999c9;
$light-gray-border:       rgba(153, 153, 201, 0.2);
$background-footer:       #efeff4;
$background-select:       #f6f6fc;
$coral:                   #f05b72;
$blue-vision:             #a2d3fb;
$comfort-vision:          #f7f3d9;
$brown-vision:            #3a2718;
$green-vision:            #ace061;
$diagram-blue:            #000078;
$diagram-light-blue:      #02b9fd;
$diagram-orange:          #ed7e17;
$diagram-green:           #00d4bf;
$diagram-red:             #e20a3b;
$diagram-violet:          #9300d9;
$diagram-yellow:          #ffc907;

$Stratos:                 "Stratos", "Arial", sans-serif;

$mobile-min-width:        320px;
$mobile-max-width:        639px;
$tablet-min-width:        640px;
$tablet-max-width:        1279px;
$desktop-min-width:       1280px;
$desktop-max-width:       1920px;

$retina-dppx:             1.5dppx;
