.tab__info {
  width: 903px;
  text-align: left;

  h1 {
    @include title-h1;
  }
}

.tab__info-list {
  list-style: none;
  margin: 36px 0;
  padding: 0;

  &--point {
    margin: 0 0 30px;

    .tab__info-item-title {
      font-size: 16px;
      line-height: 19px;

      span {
        width: fit-content;
      }

      &::before {
        width: 32px;
        height: 32px;
        background-size: 32px 32px;
      }
    }

    .tab__info-item {
      & input:checked + .tab__info-item-title::before {
        width: 32px;
        height: 32px;
        background-size: 32px 32px;
      }
    }

    .tab__info-description {
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.02em;
      width: 264px;
      margin: 0 0 0 48px;
    }

    .tab-item__point-holidays {
      color: $coral;
    }

    .tab-item__point-services {
      @include list;
    }

    .tab-item__point-service {
      font-size: 14px;
      line-height: 20px;
      width: 263px;
      margin: 0 0 16px;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      &::before {
        display: block;
        content: "";
        min-width: 32px;
        height: 32px;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 10px 0 0;
      }

      &--oms {
        &::before {
          background-image: url("../img/service-oms.svg");
        }
      }

      &--registration {
        &::before {
          background-image: url("../img/service-registration.svg");
        }
      }

      &--long-day {
        &::before {
          background-image: url("../img/service-long.svg");
        }
      }

      &--weekend-work {
        &::before {
          background-image: url("../img/service-weekend.svg");
        }
      }

      &--e-policy {
        &::before {
          background-image: url("../img/service-e-policy.svg");
        }
      }

      &--policy {
        &::before {
          background-image: url("../img/service-policy.svg");
        }
      }

      &--manager {
        &::before {
          background-image: url("../img/service-manager.svg");
        }
      }

      &--card {
        &::before {
          background-image: url("../img/service-card.svg");
        }
      }

      &--disabled-person {
        &::before {
          background-image: url("../img/service-disabled.svg");
        }
      }
    }

    .tab-item__point-contacts {
      @include list;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.02em;

      a {
        text-decoration: none;
        color: $blue;

        &:hover {
          color: $hover-text;
        }
      }

      li {
        margin: 0 0 8px 0;
      }
    }
  }
}

.tab__info-item {
  width: 100%;
  margin: 0 0 5px;

  & input:checked + .tab__info-item-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
  }

  & input:checked:hover {
    & + .tab__info-item-title {
      color: $hover-text;

      &::before {
        background-image: url("../img/minus-hover-icon.svg");
      }
    }
  }

  & input:checked + .tab__info-item-title::before {
    display: block;
    content: "";
    width: 48px;
    height: 48px;
    background-image: url("../img/minus-icon.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  & input:checked ~ .tab__info-description {
    display: block;
  }
}

.tab__info-item-title {
  font-family: $Stratos;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: $blue;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  padding: 5px 0;
  position: relative;
  z-index: 10;

  span {
    width: 800px;
  }

  &::before {
    display: block;
    content: "";
    width: 48px;
    height: 48px;
    margin: 0 16px 0 0;
    background-image: url("../img/plus-icon.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &:hover,
  &:focus {
    color: $hover-text;

    &::before {
      background-image: url("../img/plus-hover-icon.svg");
    }
  }
}

.tab__info-description {
  display: none;

  &--policy {
    width: 838px;
    margin: 0 0 0 auto;
    font-size: 16px;
    line-height: 24px;

    a {
      text-decoration: none;
      color: $blue;

      &:hover {
        color: $hover-text;
      }
    }
  }

  &--shedule {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    width: 264px;
    margin: 0 0 0 auto;
  }
}

.tab__info-description-list,
.tab__info-requisites-list {
  @include list;

  position: relative;
  margin: 16px 0 0 65px;
  width: 838px;

  &--policy {
    margin: 16px 0 0 0;
  }
}

.tab__info-description-list {
  &--policy {
    .tab__info-document-list {
      border: none;
    }

    .tab__info-document-item {
      &:not(:last-child) {
        border-bottom: none;
        margin: 0 0 8px;
      }

      display: flex;
      justify-content: flex-start;

      &::before {
        display: block;
        content: "—";
        margin: 0 5px 0 0;
      }
    }
  }
}

.tab__info-description-item {
  box-sizing: border-box;
  padding: 20px 13px 20px 13px;
  margin: 0 0 18px 0;
  cursor: pointer;
  background-color: $background-footer;
  border-radius: 8px;

  &:hover,
  &:focus {
    .tab__info-description-item-title {
      color: $hover-text;

      &::before {
        background-image: url("../img/arrow_down-hover-icon.svg");
      }
    }
  }

  & input:checked + .tab__info-description-item-title::before {
    transform: rotate(180deg);
    transition: all 0.5s;
  }

  & input:checked ~ .tab__info-document-list-wrapper--hide {
    display: block;
  }
}

.tab__info-description-item-title {
  @include title-h5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;

  &::before {
    display: block;
    content: "";
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 16px 0 0;
    background-image: url("../img/arrow_down-icon.svg");
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-color: $white;
    background-position: center;
    transition: all 0.5s;
  }
}

.tab__info-document-list-wrapper {
  &--hide {
    display: none;
  }

  & > h5 {
    display: none;
  }
}

.tab__info-document-list-wrapper-toggle {
  display: none;
}

.tab__info-document-list {
  @include list;
  border: 1px solid $button-second;
  margin: 24px 0 0 56px;
  width: 670px;
}

.tab__info-document-item {
  &:not(:last-child) {
    border-bottom: 1px solid $button-second;
  }

  &--policy {
    &:not(:last-child) {
      border-bottom: none;
    }

    display: flex;
    justify-content: flex-start;

    &::before {
      display: block;
      content: "—";
      margin: 0 5px 0 0;
    }
  }
}

.tab__info-document-item-link {
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 23px 13px 19px;
  position: relative;

  &:hover {
    background-color: $background-footer;

    &::before {
      background-image: url("../img/rule_doc-hover.svg");
    }

    .tab__info-document-item-description {
      h5 {
        color: $hover-text;
      }

      p {
        color: $hover-text;
      }
    }

    &::after {
      display: block;
      content: "";
      width: 16px;
      height: 20px;
      background-image: url("../img/right-big-hover.svg");
      background-repeat: no-repeat;
      position: absolute;
      right: 27px;
      top: calc(50% - 8px);
    }
  }

  &::before {
    display: block;
    content: "";
    min-width: 40px;
    height: 40px;
    margin: 0 16px 0 0;
    background-image: url("../img/rule_doc.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.tab__info-document-item-description {
  h5 {
    @include title-h5;
  }

  p {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    margin: 0;
    color: $black-text;
  }
}

.tab__info-requisites-item {
  display: flex;
  justify-content: flex-start;
  margin: 8px 0 0;

  p {
    font-size: 16px;
    line-height: 24px;
  }
}

.tab__info-requisites-item-name {
  color: $light-gray;
  width: 190px;
  margin: 0 62px 0 0;
}

.tab__info-requisites-item-value {
  width: 180px;
  margin: 0;
}

.tab__report-list {
  @include list;
  width: 838px;
  border: 1px solid $button-second;
  margin: 16px 0 0 auto;
}

.tab__report-item {
  &:not(:last-child) {
    border-bottom: 1px solid $button-second;
  }
}

.tab__report-item-link {
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 23px 13px 19px;
  position: relative;

  &:hover {
    background-color: $background-footer;

    &::before {
      background-image: url("../img/rule_doc-hover.svg");
    }

    .tab__rule-item-description {
      h5 {
        color: $hover-text;
      }

      p {
        color: $hover-text;
      }
    }

    .tab__report-item-description {
      h5 {
        color: $hover-text;
      }

      p {
        color: $hover-text;
      }
    }

    &::after {
      display: block;
      content: "";
      width: 16px;
      height: 20px;
      background-image: url("../img/right-big-hover.svg");
      background-repeat: no-repeat;
      position: absolute;
      right: 27px;
      top: calc(50% - 8px);
    }
  }

  &::before {
    display: block;
    content: "";
    min-width: 40px;
    height: 40px;
    margin: 0 16px 0 0;
    background-image: url("../img/rule_doc.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.tab__report-item-description {
  h5 {
    @include title-h5;
  }

  p {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: $black-text;
    margin: 0;
  }
}

@media (max-width: $tablet-max-width) {
  .tab__info {
    width: 100%;
    max-width: $tablet-max-width;
    box-sizing: border-box;
    padding: 0 32px;
    margin: 0 auto;

    h1 {
      @include title-tablet-h1;
      margin: 40px 0 0;
    }
  }

  .tab__info-list {
    margin: 16px 0;
  }

  .tab__info-item {
    margin: 0;

    & input:checked {
      & + .tab__info-item-title {
        &::after {
          display: none;
        }
      }
    }

    & input:checked:hover {
      & + .tab__info-item-title {
        &::before {
          background-image: url("../img/minus-hover-icon-tablet.svg");
        }
      }
    }

    & input:checked + .tab__info-item-title::before {
      width: 32px;
      height: 32px;
      background-image: url("../img/minus-icon-tablet.svg");
    }
  }

  .tab__info-item-title {
    font-family: "Arial", "Helvetica", sans-serif;
    font-size: 16px;
    line-height: 19px;
    padding: 16px 0;
    position: relative;

    &::after {
      display: block;
      content: "";
      width: 83vw;
      height: 1px;
      background-color: $button-second;
      position: absolute;
      bottom: 0;
      left: 46px;
    }

    span {
      width: 80%;
      max-width: 800px;
    }

    &::before {
      width: 32px;
      height: 32px;
      background-image: url("../img/plus-icon-tablet.svg");
    }

    &:hover,
    &:focus {
      &::before {
        background-image: url("../img/plus-hover-icon-tablet.svg");
      }
    }
  }

  .tab__info-description {
    &--policy {
      width: 92%;
      margin: 0 0 0 49px;
      font-size: 12px;
      line-height: 19px;
    }
  }

  .tab__info-description-list,
  .tab__info-requisites-list {
    position: relative;
    margin: 0;
    padding: 0 0 0 46px;
    box-sizing: border-box;
    width: 100%;
    max-width: 800px;
  }

  .tab__info-description-list {
    margin: -8px 0 0;

    &--policy {
      padding: 0;
    }
  }

  .tab__info-description-item {
    box-sizing: border-box;
    padding: 20px 13px 19px 0;
    margin: 0;
    cursor: pointer;
    background-color: unset;
    border-radius: unset;
    border-bottom: 1px solid $button-second;

    &:hover,
    &:focus {
      .tab__info-description-item-title {
        &::before {
          background-image: unset;
        }

        &::after {
          background-image: url("../img/right-tablet-hover.svg");
        }
      }
    }

    & input:checked ~ .tab__info-document-list-wrapper--hide {
      display: none;
    }
  }

  .tab__info-description-item-title {
    font-family: "Arial", "Helvetica", sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: $blue;

    &::before {
      display: none;
    }

    &::after {
      display: block;
      content: "";
      width: 8px;
      height: 12px;
      margin: 0;
      background-image: url("../img/right-tablet.svg");
      background-size: cover;
      position: absolute;
      right: 0;
    }
  }

  .tab__info-document-list-wrapper {
    box-sizing: border-box;
    padding: 32px;
    background-color: $white;
    position: fixed;
    overflow-y: auto;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    & > h5 {
      display: block;
      font-family: "Arial", "Helvetica", sans-serif;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      margin: 0 0 23px;
      color: $blue;
    }
  }

  .tab__info-document-list-wrapper-toggle {
    display: block;
    width: 32px;
    height: 32px;
    background-image: url("../img/menu-close-icon.svg");
    background-color: transparent;
    border: none;
    margin: 0 0 40px auto;
    cursor: pointer;
    outline: none;


    &:hover {
      background-image: url("../img/menu-hover-close-icon.svg");
      outline: none;
    }
  }

  .tab__info-document-list {
    margin: 0;
    width: 100%;
  }

  .tab__info-document-item-link {
    padding: 23px 45px 19px 13px;
  }

  .tab__info-requisites-item {
    display: block;
    justify-content: flex-start;
    margin: 8px 0 0;

    p:first-of-type {
      font-size: 12px;
      line-height: 19px;
    }

    p:nth-of-type(2) {
      font-size: 14px;
      line-height: 17px;
    }
  }

  .tab__report-list {
    @include list;
    width: 92%;
    margin: 16px 0 0 0;
  }

  .tab__report-item-link {
    padding: 23px 35px 19px 13px;
  }
}

@media (max-width: $mobile-max-width) {
  .tab__info {
    max-width: $mobile-max-width;
    padding: 0 24px;

    h1 {
      margin: 24px 0 0;
    }
  }

  .tab__info-list {
    &--point {
      margin: 0 0 20px;

      .tab__info-description {
        width: 200px;
      }

      .tab-item__point-service {
        font-size: 12px;
        line-height: 19px;
        width: 220px;
        margin: 0 0 8px;
      }

      .tab-item__point-contacts {
        @include list;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.02em;

        a {
          text-decoration: none;
          color: $blue;

          &:hover {
            color: $hover-text;
          }
        }

        li {
          margin: 0 0 8px 0;
        }
      }
    }
  }

  .tab__info-item-title {
    &::after {
      width: 70vw;
    }
  }

  .tab__info-description {
    &--policy {
      width: 85%;
    }
  }

  .tab__info-description-item {
    padding: 20px 20px 19px 0;
  }

  .tab__info-document-list-wrapper-toggle {
    width: 32px;
    height: 32px;
  }

  .tab__info-document-item-link {
    align-items: flex-start;
  }

  .tab__report-item-link {
    align-items: flex-start;
  }
}
