.tab__rule {
  width: 800px;
  text-align: left;

  h1 {
    @include title-h1;
  }
}

.tab__rule-list {
  @include list;
  border: 1px solid $button-second;
  margin: 40px 0 0;
}

.tab__rule-item {
  &:not(:last-child) {
    border-bottom: 1px solid $button-second;
  }
}

.tab__rule-item-document {
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 23px 13px 19px;
  position: relative;

  &:hover {
    background-color: $background-footer;

    &::before {
      background-image: url("../img/rule_doc-hover.svg");
    }

    .tab__rule-item-description {
      h5 {
        color: $hover-text;
      }

      p {
        color: $hover-text;
      }
    }

    &::after {
      display: block;
      content: "";
      width: 16px;
      height: 20px;
      background-image: url("../img/right-big-hover.svg");
      background-repeat: no-repeat;
      position: absolute;
      right: 27px;
      top: calc(50% - 8px);
    }
  }

  &::before {
    display: block;
    content: "";
    width: 40px;
    height: 40px;
    margin: 0 16px 0 0;
    background-image: url("../img/rule_doc.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.tab__rule-item-description {
  h5 {
    @include title-h5;
  }

  p {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    margin: 0;
    color: $black-text;
  }
}

@media (max-width: $tablet-max-width) {
  .tab__rule {
    width: 100%;
    max-width: $tablet-max-width;
    box-sizing: border-box;
    padding: 0 32px;
    margin: 0 auto;

    h1 {
      @include title-tablet-h1;
      margin: 40px 0 0;
    }
  }

  .tab__rule-list {
    margin: 24px 0 0;
  }
}

@media (max-width: $mobile-max-width) {
  .tab__rule {
    max-width: $mobile-max-width;
    padding: 0 24px;

    h1 {
      margin: 24px 0 0;
    }
  }
}
