.tab-item__media-modal {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 37, 41, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;

  &--hide {
    display: none;
  }
}

.tab-item__media-list-container {
  width: 800px;
  height: max-content;
  max-height: 1950px;
  margin: 32px auto 0;
  overflow: hidden;
}

.tab-item__media-list-wrapper {
  @include list;
  width: 800px;
  height: max-content;
  max-height: 1950px;
  display: flex;
  flex-flow: column wrap;

  &--article {
    width: 697px;
    margin: 0 0 0 auto;
    height: auto;
  }
}

.tab-item__media-slide {
  width: 100%;
  box-sizing: border-box;
  padding: 32px;
  border: 1px solid $button-second;
  transition: box-shadow 0.5s;
  position: relative;

  &:not(:last-child) {
    margin: 0 0 24px;
  }

  &:hover {
    box-shadow: 0 24px 20px -10px rgba(0, 0, 120, 0.1);
    transition: box-shadow 0.5s;

    .tab__photo-item-title {
      time {
        color: $blue;
      }

      h4 {
        color: $blue;
      }
    }
  }

  &--article {
    padding: 0;
    border: none;
    transition: none;

    &:hover {
      box-shadow: none;
      transition: none;
    }
  }
}

.tab-item__media-slide-title {
  time {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: $black-text;
  }

  h4 {
    @include title-h4;
    color: $black-text;
    line-height: 30px;
    margin: 16px 0 0;
  }

  &--hide {
    display: none;
  }
}

.tab-item__media-modal-close {
  position: absolute;
  top: 55px;
  right: 55px;
  border: 0;
  padding: 0;
  cursor: pointer;
  outline: none;
  width: 32px;
  height: 32px;

  background-image: url("../img/modal-close-icon.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;

  &:hover {
    background-image: url("../img/modal-close-icon_hover.svg");
  }
}

.tab__photo-section {
  position: relative;

  &::after {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 40px;
    display: block;
    content: "";
    width: 138px;
    height: 365px;
    background-image: url("../img/photo-shading_desktop@1x.png");
    background-repeat: no-repeat;
    background-position: right;
    cursor: pointer;
    pointer-events: none;
  }

  &--modal {
    width: 100vw;
    height: 807px;

    &::after {
      display: none;
    }
  }
}

.tab__photo-section-list {
  width: 100%;
  margin: 0;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &--top {
    width: 100%;
    margin: 0 auto;
  }

  &--thumbs {
    width: 422px;
    margin: 0 auto;

    .tab__photo-section-slide {
      position: relative;

      &::after {
        position: absolute;
        display: block;
        content: "";
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.4);
      }
    }

    .swiper-slide-thumb-active {
      position: relative;

      &::after {
        display: none;
      }
    }
  }
}

.tab__photo-section-prev,
.tab__photo-section-next {
  position: absolute;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  top: 210px;
  cursor: pointer;
  outline: none;

  &--modal {
    position: absolute;
    display: block;
    width: 48px;
    height: 48px;
    background-size: 48px 48px;
    top: 492px;
  }
}

.tab__photo-section-prev {
  left: -24px;
  background-image: url("../img/left-big.svg");

  &:hover {
    background-image: url("../img/left-big-hover.svg");
  }

  &--modal {
    left: calc(50% - 299px);
    background-image: url("../img/modal-arrow-left.svg");

    &:hover {
      background-image: url("../img/modal-arrow-left_hover.svg");
    }
  }
}

.tab__photo-section-next {
  right: -24px;
  background-image: url("../img/right-big.svg");

  &:hover {
    background-image: url("../img/right-big-hover.svg");
  }

  &--modal {
    right: calc(50% - 299px);
    background-image: url("../img/modal-arrow-right.svg");

    &:hover {
      background-image: url("../img/modal-arrow-right_hover.svg");
    }
  }
}

.tab__photo-section-wrapper {
  display: flex;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  padding: 40px 0 32px;
  height: 100%;
  transition-property: transform;
  box-sizing: content-box;
}

.tab__photo-section-img {
  position: relative;
  display: block;
  margin: 0 4px 0 0;
  width: min-content;

  &--thumbs {
    margin: 0;
  }
}

.tab__photo-section-button {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  font-weight: bold;
  text-transform: uppercase;
  color: $blue;
  cursor: pointer;

  &:hover {
    color: $hover-text;

    &::after {
      background-image: url("../img/right-big-hover.svg");
    }
  }

  &--hide {
    display: none;
  }
}

.tab__photo-section-navigation {
  display: flex;
  justify-content: space-between;

  &--hide {
    display: none;
  }
}

.tab__photo-section-counter {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  color: $light-gray;

  span {
    display: inline-block;
    margin: 0;
  }
}

.tab__photo-section-slide {
  &--top {
    height: 100%;
    min-width: 100vw;
    margin: 0 auto;

    img {
      display: block;
      margin: 0 auto;
      width: min-content;
    }
  }

  &--thumbs {
    height: 85px;
    width: auto;
    margin: 0 4px 0 0;

    img {
      height: 100%;
      width: auto;
    }
  }
}

.tab-item__media-list-navigation {
  margin: 56px auto 0;
  display: flex;
  justify-content: space-between;
  width: 480px;

  &--hide {
    display: none;
  }
}

.tab-item__media-list-prev,
.tab-item__media-list-next {
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-size: 48px 48px;
  cursor: pointer;
  outline: none;
}

.tab-item__media-list-prev {
  background-image: url("../img/arrow_left-icon.svg");

  &:hover {
    background-image: url("../img/arrow_left-hover-icon.svg");
  }
}

.tab-item__media-list-next {
  background-image: url("../img/arrow_right-icon.svg");

  &:hover {
    background-image: url("../img/arrow_right-hover-icon.svg");
  }
}

.tab-item__media-list-pagination {
  max-width: 304px;
  white-space: nowrap;
}

.tab-item__media-list-pagination-bullet {
  display: inline-block;
  position: relative;
  min-width: 46px;
  max-height: 46px;
  margin: 0 16px 0 0;
  border: 1px solid $button-second;
  border-radius: 50%;
  cursor: pointer;
  outline: none;

  font-family: $Stratos;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: $blue;
  padding: 12px 0;

  &:hover {
    border: 1px solid $hover-text;
    background-color: $hover-text;
    color: $white;
  }

  &--active {
    border: 1px solid $blue;
    background-color: $blue;
    color: $white;
  }
}

@media (max-width: $tablet-max-width) {
  .tab-item__media-list-container {
    width: 576px;
    height: 1620px;
  }

  .tab-item__media-list-wrapper {
    width: 576px;
    height: 1620px;

    &--article {
      width: 697px;
      margin: 0 auto;
      height: auto;
    }
  }

  .tab-item__media-slide {
    padding: 32px 32px 24px 32px;
  }

  .tab-item__media-slide-title {
    h4 {
      @include title-tablet-h2;
      color: $black-text;
      margin: 11px 0 0;
    }
  }

  .tab__photo-section {
    &::after {
      top: 59px;
      width: 187px;
      height: 250px;
      background-image: url("../img/photo-shading_tablet@1x.png");
    }
  }

  .tab__photo-section-prev,
  .tab__photo-section-next {
    display: none;

    &--modal {
      top: 410px;
    }
  }

  .tab__photo-section-wrapper {
    padding: 59px 0 24px;
  }

  .tab-item__media-modal-close {
    top: 32px;
    right: 32px;
  }
}

@media (max-width: $mobile-max-width) {
  .tab-item__media-list-container {
    width: 100%;
    max-width: 576px;
    height: 100%;
    max-height: 1500px;
  }

  .tab-item__media-list-wrapper {
    width: 100%;
    max-width: 576px;
    height: 100%;
    max-height: 1500px;
  }

  .tab-item__media-slide {
    padding: 32px 24px 24px 32px;
  }

  .tab__photo-section {
    &::after {
      top: 22px;
      width: 67px;
      height: 140px;
      background-image: url("../img/photo-shading_mobile@1x.png");
    }
  }

  .tab__photo-section-prev,
  .tab__photo-section-next {
    &--modal {
      top: 84vh;
    }
  }

  .tab__photo-section-prev {
    &--modal {
      left: calc(50% - 136px);
    }
  }

  .tab__photo-section-next {
    &--modal {
      right: calc(50% - 136px);
    }
  }

  .tab__photo-section-slide {
    &--top {
      img {
        width: 85vw;
        height: auto;
      }
    }

    &--thumbs {
      display: none;
    }
  }

  .tab__photo-section-wrapper {
    padding: 22px 0 24px;
  }

  .tab-item__media-list-navigation {
    margin: 32px auto 0;
    width: 272px;
  }

  .tab-item__media-list-pagination {
    max-width: 160px;
  }

  .tab-item__media-list-pagination-bullet {
    margin: 0 8px 0 0;
  }

  .tab-item__media-modal-close {
    top: 24px;
    right: 24px;
  }
}
