.color-scheme-blue {
  background-color: $blue-vision;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a,
  p,
  li,
  span,
  time,
  label {
    color: $black-vision !important;

    &::before {
      color: $black-vision !important;
    }
  }

  svg {
    fill: $black-vision;
  }

  .mobile-app {
    background-image: none;
    background-color: $black-vision;

    @media (min-resolution: $retina-dppx) {
      background-image: none;
    }
  }

  .page-header {
    &--vision {
      .page-header__nav {
        background-color: transparent;

        a::before {
          display: none;
        }

        .main-nav-menu {
          flex-direction: column;
        }

        .main-nav-menu__help-list {
          svg {
            display: none;
          }

          width: 100%;
          justify-content: flex-start;
          margin-top: 40px;

          li {
            width: 25%;
            border: 2px solid $black-vision;
            border-radius: 8px;
            box-sizing: border-box;
            padding: 16px;
            text-align: center;

            .main-nav-menu__help-item-icon {
              display: none;
            }

            a {
              width: 100%;

              span {
                width: 100%;
              }
            }

            .main-nav-menu__help-item-button {
              padding: 0;

              font-size: 1em;
              line-height: 150%;
              font-weight: normal;
              color: $black-vision;
              background-color: transparent;
              border: none;
              text-transform: unset;

            }
          }
        }
      }
    }
  }

  .faq__button {
    background-color: $black-vision;
    color: $white !important;
  }

  .info__bonuses-button,
  .tab__contacts-button,
  .tab-item__search-button,
  .tab-item__questionnaire-button {
    background-color: $black-vision;
    color: $blue-vision !important;

    &:hover {
      background-color: $black-vision;
    }
  }

  .feedback__upload-button {
    background-color: $black-vision;

    span {
      color: $blue-vision !important;
    }
  }

  .page-footer__help {
    background-color: $black-vision;
  }

  .mobile-app__button {
    bottom: 0;
    transition: none;

    &--google {
      background-image: url("../img/google_play-icon-bw.svg");
    }

    &--apple {
      background-image: url("../img/appstore-icon-bw.svg");

    }

    &:hover {
      bottom: 0;
      box-shadow: none;
    }
  }

  .faq__item {
    & input:checked:hover {
      & + .faq__item-question-title {
        color: $black-vision;

        &::before {
          background-image: url("../img/minus-icon-tr.svg");
        }
      }
    }

    & input:checked + .faq__item-question-title::before {
      background-image: url("../img/minus-icon-tr.svg");
    }
  }

  .faq__item-question-title {
    &::before {
      background-image: url("../img/plus-icon-tr.svg");
    }

    &:hover,
    &:focus {
      color: $black-vision;

      &::before {
        background-image: url("../img/plus-icon-tr.svg");
      }
    }
  }

  .page-header {
    &--vision {
      .main-nav__help-item {
        &--address {
          &:hover {
            border: 2px solid $black-vision;
          }
        }

        &--account {
          &:hover {
            border: 2px solid $black-vision;
          }
        }

        &--tel {
          margin: 0;
          order: 2;

          a {
            color: $blue;
            width: 350px;
            font-size: 24px;
            line-height: 120%;
          }
        }

        &--feedback {
          &:hover {
            border: 2px solid $black-vision;
          }
        }
      }

      .main-nav__toggle {
        &:hover {
          border: 2px solid $black-vision;
        }
      }
    }
  }

  .main-nav__logo {
    &:hover {
      svg {
        fill: $black-vision;
      }
    }
  }

  .page-footer {
    &--vision {
      .page-footer__nav {
        background-color: $blue-vision;
      }

      .page-footer__copyright {
        background-color: $blue-vision;

        svg {
          fill: $black-vision;
        }
      }
    }
  }

  .tabs__list {
    border: 1px solid $black-vision;
  }

  .tabs__item {
    &--active {
      &::before {
        background-color: $black-vision;
      }
    }

    &:first-child {
      border-bottom: 1px solid $black-vision;
    }
  }

  .tab__info-item {

    & input:checked:hover {
      & + .tab__info-item-title {
        &::before {
          background-image: url("../img/minus-icon-tr.svg");
        }
      }
    }

    & input:checked + .tab__info-item-title::before {
      background-image: url("../img/minus-icon-tr.svg");
    }
  }

  .tab__info-item-title {
    &::before {
      background-image: url("../img/plus-icon-tr.svg");
    }

    &:hover,
    &:focus {
      &::before {
        background-image: url("../img/plus-icon-tr.svg");
      }
    }
  }

  .feedback__form {
    border: 2px solid $black-vision;
    background-color: $blue-vision;

    input,
    select {
      border: 2px solid $black-vision;
      background-color: $blue-vision;

      &:focus,
      &:hover {
        border: 2px solid $black-vision;
        box-shadow: none;
      }
    }

    &--address {
      border: none;

      .feedback__form-location {
        background-color: transparent;
      }
    }

    &--filial-region {
      border: none;
    }
  }

  .tab-item__search-input {
    input,
    select {
      background-color: transparent;
      border: 2px solid $black-vision;

      & + label {
        color: $black-vision !important;
      }

      &:focus,
      &:hover {
        border: 2px solid $black-vision;
        box-shadow: none;
      }
    }

    &--surname,
    &--name,
    &--second-name,
    &--number,
    &--location,
    &--id,
    &--phone,
    &--mail,
    &--date,
    &--point {
      label {
        color: $black-vision !important;
      }

      input {
        & + label {
          color: $black-vision !important;
        }
      }

      &::after {
        display: none;
      }
    }

    &--nationality {
      label {
        color: $black-vision !important;
      }
    }

    &--policy-number {
      input {
        &::placeholder {
          color: $black-vision;
        }
      }

      input ~ label {
        color: $black-vision;
      }
    }

    &--policy-birthday {
      input ~ label:first-of-type,
      input ~ label:last-of-type {
        color: $black-vision;
      }
    }

    textarea {
      border: 2px solid $black-vision;

      &:focus,
      &:hover {
        border: 2px solid $black-vision;
        box-shadow: none;
      }

      &::placeholder {
        color: $black-vision;
      }
    }

    input:focus ~ label:last-of-type,
    input:not(:focus):valid ~ label:last-of-type {
      color: $black-vision;
    }
  }

  .tab-item__search-input-selected {
    label {
      color: $black-vision;
    }
  }

  .tab-item__about-address-button {
    background-color: $white;
    color: $black-vision;

    &--filial {
      background-color: $black-vision;
      color: $white;
    }
  }

  .feedback__location-search {
    border: 2px solid $black-vision;
    background-image: url("../img/button-map_desktop@1x.png");
  }

  .feedback__location-button {
    background-color: $black-vision;
    color: $white;

  }

  .feedback__form-submit {
    label {
      color: $black-vision !important;
    }

    input {
      &:checked + .feedback__form-agree::before {
        background-image: url("../img/form-check-bw.svg");
      }
    }
  }

  .feedback__form-agree {
    color: $black-vision;

    &::before {
      background-color: $blue-vision;
      border: 2px solid $black-vision;
    }

    &:hover {
      &::before {
        border: 2px solid $black-vision;
      }
    }
  }

  .feedback__form-button {
    background-color: $black-vision;
  }

  .feedback__confidentiality {
    h4 {
      color: $black-vision !important;
    }

    p {
      color: $black-vision !important;
    }
  }

  .feedback__check-button {
    background-color: $black-vision;

    &:hover {
      background-color: $black-vision;
    }
  }

  .tab__rule-list,
  .tab__license-list,
  .tab__info-document-list,
  .tab__report-list,
  .tab__document-list {
    border: 2px solid $black-vision;
  }

  .tab__rule-item,
  .tab__license-item,
  .tab__info-document-item,
  .tab__report-item,
  .tab__document-item {
    &:not(:last-child) {
      border-bottom: 2px solid $black-vision;
    }
  }

  .tab__rule-item-document,
  .tab__info-document-item-link,
  .tab__report-item-link,
  .tab__document-item-link {
    &:hover {
      background-color: transparent;

      &::before {
        background-image: url("../img/rule_doc-black.svg");
      }

      &::after {
        background-image: url("../img/right-big-black.svg");
      }
    }

    &::before {
      background-image: url("../img/rule_doc-black.svg");
    }
  }

  .tab__rule-item-document {
    &:hover {
      background-color: $blue-vision;

      &::before {
        background-image: url("../img/rule_doc-black.svg");
      }

      &::after {
        background-image: url("../img/right-big-black.svg");
      }
    }

    &::before {
      background-image: url("../img/rule_doc-black.svg");
    }
  }

  .tab__license-item-document {
    &:hover {
      background-color: $blue-vision;

      &::after {
        background-image: url("../img/right-big-black.svg");
      }
    }
  }

  .tab__license-item-icon {
    svg {
      fill: $black-vision;
    }
  }

  .tab__info-description-item,
  .tab__document-card-preview,
  .tab__document-card-description,
  .tab-item__emphasis,
  .tab__contacts-list--filial {
    background-color: transparent;
    border: 2px solid $black-vision;
  }

  .tab__info-description-item {
    &:hover,
    &:focus {
      .tab__info-description-item-title {
        &::before {
          background-image: url("../img/arrow_down-icon-black.svg");
        }
      }
    }
  }

  .tab__info-description-item-title {
    &::before {
      background-image: url("../img/arrow_down-icon-black.svg");
    }
  }

  .tab__shareholders-license-item {
    h4 {
      background-color: transparent;
      border: 2px solid $black-vision;
      background-image: none;
    }

    p {
      background-color: transparent;
      border: 2px solid $black-vision;
      background-image: none;
    }
  }

  .tab__leaders-item,
  .tab-item__members-item,
  .tab-item__list-slide {
    border: 2px solid $black-vision;
  }

  .tab-item__search-radio {
    background-color: $blue-vision;
    border: 2px solid $black-vision;

    input + label {
      color: $black-vision !important;
      border: 2px solid $black-vision;
      width: 50%;
    }

    input:checked + label {
      color: $white !important;
      background-color: $black-vision;
    }
  }

  .tab-item__form {
    background-color: transparent;
    border: 2px solid $black-vision;

    &--prevention {
      background-color: transparent;
      border: 2px solid $black-vision;

      h3 {
        margin: 0 0 32px;
      }

      .tab-item__search {
        background-image: unset;
        padding: 0;
      }

      .tab-item__search-input {
        &--year {
          select {
            background-color: $blue-vision !important;
          }

          label {
            color: $black-vision !important;
          }
        }
      }
    }
  }

  .tab-item__video-item {
    border: 2px solid $black-vision;
  }

  .tab-item__search {
    background-image: none;
  }

  .tab-item__media-slide {
    border: 1px solid $black-vision;
  }

  .tab-item__list-prev {
    background-image: url("../img/arrow_left-icon-black.svg");

    &:hover {
      background-image: url("../img/arrow_left-icon-black.svg");
    }
  }

  .tab-item__list-next {
    background-image: url("../img/arrow_right-icon-black.svg");

    &:hover {
      background-image: url("../img/arrow_right-icon-black.svg");
    }
  }

  .tab-item__list-pagination-bullet {
    border: 1px solid $black-vision;
    color: $black-vision;

    &:hover {
      border: 1px solid $black-vision;
      color: $black-vision;
      background-color: transparent;
    }

    &--active {
      border: 1px solid $black-vision;
      background-color: $black-vision;
      color: $white !important;
    }
  }

  .tab-item__list-navigation {
    &--article {
      .tab-item__list-prev {
        background-image: url("../img/arrow_left-icon-black.svg") !important;

        &:hover {
          background-image: url("../img/arrow_left-icon-black.svg");
        }
      }

      .tab-item__list-next {
        background-image: url("../img/arrow_right-icon-black.svg") !important;

        &:hover {
          background-image: url("../img/arrow_right-icon-black.svg");
        }
      }
    }
  }

  .tab-item__about-address-button {
    color: $blue-vision !important;
    background-color: $black-vision;
  }

  .tab-item__view-button + label {
    width: max-content;
    height: max-content;
    border: 2px solid $black-vision;

    &:hover {
      background: transparent;
      border: 2px solid $black-vision;
    }
  }

  .tab-item__view-button:checked + label {
    color: $blue-vision !important;
    background-color: $black-vision;
    border: 1px solid $black-vision;
  }

  .tab-item__point-overlay {
    &--address {
      .tab-item__point-modal {
        border: 1px solid $black-vision;
      }
    }

    &--list {
      .tab-item__point-item {
        border: 2px solid $black-vision;

        &:nth-child(2n) {
          margin-left: -2px;
        }

        &:nth-child(n+3) {
          margin-top: -2px;
        }
      }
    }
  }

  .tab-item__point-item {
    &:not(:first-child) {
      border-top: 1px solid $black-vision;
    }
  }

  .tab__contacts-list {
    &--filial {
      .tab__contacts-data {
        &--leaders {
          li {
            border: 1px solid $black-vision !important;
          }
        }
      }
    }
  }
}
