.color-scheme-black-white {
  background-color: $white;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a,
  p,
  li,
  span,
  time,
  label {
    color: $black-vision !important;
  }

  svg {
    fill: $black-vision !important;
  }

  .mobile-app {
    background-image: none;
    background-color: $black-vision;

    @media (min-resolution: $retina-dppx) {
      background-image: none;
    }
  }

  .faq__button {
    background-color: $black-vision;
    color: $white !important;
  }

  .info__bonuses-button,
  .tab__contacts-button,
  .tab-item__search-button,
  .tab-item__questionnaire-button {
    background-color: $black-vision;
    color: $white !important;

    &:hover {
      background-color: $black-vision;
    }
  }

  .page-footer__help {
    background-color: $black-vision;
  }

  .mobile-app__button {
    bottom: 0;
    transition: none;

    &--google {
      background-image: url("../img/google_play-icon-bw.svg");
    }

    &--apple {
      background-image: url("../img/appstore-icon-bw.svg");

    }

    &:hover {
      bottom: 0;
      box-shadow: none;
    }
  }

  .faq__item {
    & input:checked:hover {
      & + .faq__item-question-title {
        color: $black-vision;

        &::before {
          background-image: url("../img/minus-icon-bw.svg");
        }
      }
    }

    & input:checked + .faq__item-question-title::before {
      background-image: url("../img/minus-icon-bw.svg");
    }
  }

  .faq__item-question-title {
    &::before {
      background-image: url("../img/plus-icon-bw.svg");
    }

    &:hover,
    &:focus {
      color: $black-vision;

      &::before {
        background-image: url("../img/plus-icon-bw.svg");
      }
    }
  }

  .page-header {
    &--vision {
      .main-nav__help-item {
        &--address {
          &:hover {
            border: 2px solid $black-vision;
          }
        }

        &--account {
          &:hover {
            border: 2px solid $black-vision;
          }
        }

        &--tel {
          margin: 0;
          order: 2;

          a {
            color: $blue;
            width: 350px;
            font-size: 24px;
            line-height: 120%;
          }
        }

        &--feedback {
          &:hover {
            border: 2px solid $black-vision;
          }
        }
      }

      .main-nav__toggle {
        &:hover {
          border: 2px solid $black-vision;
        }
      }
    }
  }

  .main-nav__logo {
    &:hover {
      svg {
        fill: $black-vision;
      }
    }
  }

  .tabs__list {
    border: 1px solid $black-vision;
  }

  .tabs__item {
    &--active {
      &::before {
        background-color: $black-vision;
      }
    }

    &:first-child {
      border-bottom: 1px solid $black-vision;
    }
  }

  .tab__info-item {

    & input:checked:hover {
      & + .tab__info-item-title {
        &::before {
          background-image: url("../img/minus-icon-bw.svg");
        }
      }
    }

    & input:checked + .tab__info-item-title::before {
      background-image: url("../img/minus-icon-bw.svg");
    }
  }

  .tab__info-item-title {
    &::before {
      background-image: url("../img/plus-icon-bw.svg");
    }

    &:hover,
    &:focus {
      &::before {
        background-image: url("../img/plus-icon-bw.svg");
      }
    }
  }

  .feedback__check-button {
    background-color: $black-vision;

    &:hover {
      background-color: $black-vision;
    }
  }

  .tab-item__about-address-button {
    background-color: $black-vision;
    color: $white !important;

    &--filial {
      background-color: $black-vision;
      color: $white !important;
    }
  }

  .tab__rule-list,
  .tab__license-list,
  .tab__info-document-list,
  .tab__report-list,
  .tab__document-list {
    border: 2px solid $black-vision;
  }

  .tab__rule-item,
  .tab__license-item,
  .tab__info-document-item,
  .tab__report-item,
  .tab__document-item {
    &:not(:last-child) {
      border-bottom: 2px solid $black-vision;
    }
  }

  .tab__rule-item-document,
  .tab__info-document-item-link,
  .tab__report-item-link,
  .tab__document-item-link {
    &:hover {
      background-color: $white;

      &::before {
        background-image: url("../img/rule_doc-black.svg");
      }

      &::after {
        background-image: url("../img/right-big-black.svg");
      }
    }

    &::before {
      background-image: url("../img/rule_doc-black.svg");
    }
  }

  .tab__license-item-document {
    &:hover {
      background-color: $white;

      &::after {
        background-image: url("../img/right-big-black.svg");
      }
    }
  }

  .tab__license-item-icon {
    svg {
      fill: $button-second;
    }
  }

  .tab__info-description-item {
    &:hover,
    &:focus {
      .tab__info-description-item-title {
        &::before {
          background-image: url("../img/arrow_down-icon-black.svg");
        }
      }
    }
  }

  .tab__info-description-item-title {
    &::before {
      background-image: url("../img/arrow_down-icon-black.svg");
    }
  }

  .tab__leaders-item,
  .tab-item__members-item,
  .tab-item__list-slide {
    border: 2px solid $black-vision;
  }

  .tab-item__search-radio {
    input:checked + label {
      color: $white !important;
      background-color: $black-vision;
    }
  }

  .tab-item__media-slide {
    border: 1px solid $black-vision;
  }

  .tab-item__list-prev {
    background-image: url("../img/arrow_left-icon-black.svg");

    &:hover {
      background-image: url("../img/arrow_left-icon-black.svg");
    }
  }

  .tab-item__list-next {
    background-image: url("../img/arrow_right-icon-black.svg");

    &:hover {
      background-image: url("../img/arrow_right-icon-black.svg");
    }
  }

  .tab-item__list-pagination-bullet {
    border: 1px solid $black-vision;
    color: $black-vision;

    &:hover {
      border: 1px solid $black-vision;
      color: $black-vision;
      background-color: transparent;
    }

    &--active {
      border: 1px solid $black-vision;
      background-color: $black-vision;
      color: $white !important;
    }
  }

  .tab-item__list-navigation {
    &--article {
      .tab-item__list-prev {
        background-image: url("../img/arrow_left-icon-black.svg") !important;

        &:hover {
          background-image: url("../img/arrow_left-icon-black.svg");
        }
      }

      .tab-item__list-next {
        background-image: url("../img/arrow_right-icon-black.svg") !important;

        &:hover {
          background-image: url("../img/arrow_right-icon-black.svg");
        }
      }
    }
  }

  .tab-item__view-button + label {
    width: max-content;
    height: max-content;
    border: 2px solid $black-vision;
    color: $black-vision;

    &:hover {
      background: transparent;
      border: 2px solid $black-vision;
      color: $black-vision;
    }
  }

  .tab-item__view-button:checked + label {
    color: $white !important;
    background-color: $black-vision;
    border: 1px solid $black-vision;
  }

  .tab-item__point-overlay {
    &--list {
      .tab-item__point-item {
        width: 604px;
        border: 2px solid $black-vision;

        &:nth-child(2n) {
          margin-left: -2px;
        }

        &:nth-child(n+3) {
          margin-top: -2px;
        }
      }
    }
  }
}
