.tab-item__point-overlay {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 37, 41, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;

  &--hide {
    display: none;
  }

  &--address {
    position: relative;
    z-index: unset;
    background: unset;
    display: unset;

    .tab-item__point-modal {
      margin: 24px 0 0;
      height: 768px;
      background-color: unset;
      border-radius: unset;
      border: 1px solid $button-second;

      h2 {
        display: none;
      }
    }

    .tab-item__point-modal-buttons {
      margin: 24px 0 0;
      display: flex;
      justify-content: flex-start;
    }

    .tab-item__view-button {
      width: 97px;
      height: 40px;
      background: transparent;
      border: 1px solid $button-second;
      box-sizing: border-box;
      border-radius: 4px;
      color: $black-text;
      text-transform: none;
      font-size: 16px;
      line-height: 24px;
      font-weight: normal;
      padding: 7px 14px;
      cursor: pointer;

      &:not(:last-of-type) {
        margin: 0 16px 0 0;
      }

      &:hover {
        background: $hover-text;
        border: 1px solid $hover-text;
        color: $white;
      }

      &--active {
        color: $white;
        background-color: $blue;
        border: 1px solid $blue;
      }
    }

    .tab-item__point-modal-close {
      display: none;
    }

    .tab-item__point-map {
      height: 768px;

      iframe {
        border-radius: 0;
      }
    }

    .tab-item__point-list {
      max-height: 768px;
    }

    .tab-item__point-item {
      max-height: 768px;
    }

    .tab-item__search-input {
      display: none;
    }

    .tab-item__point-info-button {
      display: none;
    }

    .tab-item__point-info {
      input ~ .tab-item__point-about {
        display: block;
      }
    }

    .tab__info-item {
      input,
      label {
        display: none;
      }

      &:last-child {
        display: none;
      }

      input:checked + label {
        display: none;
      }

      input ~ .tab__info-description {
        display: block;
      }
    }

    .tab-item__point-today {
      display: block;
      font-size: 14px;
      line-height: 20px;
      margin: 0;

      span {
        color: $blue;
      }

    }

    .tab-item__point-day,
    .tab-item__point-time,
    .tab-item__point-break,
    .tab-item__point-weekend,
    .tab-item__point-holidays {
      display: none;
    }

    .tab__info-list {
      &--point {
        margin: 0 0 16px;

        .tab__info-description {
          font-size: 14px;
          line-height: 20px;
          letter-spacing: unset;
          width: 100%;
          margin: 0;
        }

        .tab-item__point-services {
          display: flex;
          justify-content: flex-start;
        }

        .tab-item__point-service {
          width: 24px;
          margin: 0 8px 0 0;

          &::before {
            min-width: 24px;
            height: 24px;
            margin: 0;
          }

          span {
            display: none;
          }
        }
      }
    }

    .tab-item__point-gallery {
      display: none;
    }
  }

  &--address-modal {
    .tab-item__point-modal-buttons {
      display: none;
    }

    .tab-item__search-input {
      display: none;
    }

    .tab-item__point-item {
      display: none;

      &:hover {
        box-shadow: none;
      }
    }

    .tab-item__point-map {
      display: none;
    }

    .tab-item__point-info-button {
      display: none;
    }

    .tab-item__point-info {
      input ~ .tab-item__point-about {
        display: block;
      }
    }

    .tab-item__point-info-more-button {
      display: none;
    }

    .tab-item__point-gallery {
      display: block;
      height: 679px;
      width: 852px;
      border-right: 1px solid $button-second;
    }

    .tab-item__point-gallery-top {
      width: 100%;
      height: 563px;
      margin: 0 auto;
      overflow: auto;
      scrollbar-width: none;
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .tab-item__point-gallery-thumbs {
      width: 576px;
      height: 85px;
      margin: 16px auto 0;
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .tab-item__point-gallery-wrapper {
      display: flex;
      box-sizing: content-box;

      &--thumbs {
        width: 422px;
        overflow: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }

    .tab-item__point-gallery-slide-top {
      transition-property: transform;
    }

    .tab-item__point-gallery-slide-thumbs {
      height: 85px;
      width: auto;
      transition-property: transform;

      img {
        height: 85px;
        width: auto;
      }
    }

    .tab-item__point-gallery-prev {
      cursor: pointer;
      width: 48px;
      height: 48px;
      background-image: url("../img/modal-arrow-left-blue.svg");
      background-size: cover;

      &:hover {
        background-image: url("../img/modal-arrow-left_hover.svg");
      }
    }

    .tab-item__point-gallery-next {
      cursor: pointer;
      width: 48px;
      height: 48px;
      background-image: url("../img/modal-arrow-right-blue.svg");
      background-size: cover;

      &:hover {
        background-image: url("../img/modal-arrow-right_hover.svg");
      }
    }
  }
}

.tab-item__point-modal {
  width: 1212px;
  height: 822px;
  background-color: $white;
  border-radius: 8px;
  position: relative;

  h2 {
    @include title-h2;
    padding: 64px 0 40px 42px;
    border-bottom: 1px solid $button-second;
  }
}

.tab-item__point-modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  border: 0;
  padding: 0;
  cursor: pointer;
  outline: none;
  width: 24px;
  height: 24px;

  background-image: url("../img/menu-close-icon.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
}

.tab-item__point-modal-info {
  display: flex;
  justify-content: flex-start;
}

.tab-item__point-map {
  width: 852px;
  height: 679px;
  border-right: 1px solid $button-second;
  position: relative;

  iframe {
    width: 100%;
    height: 100%;
    border-radius: 0 0 0 8px;
  }
}

.tab-item__point-list {
  @include list;
  max-height: 679px;
  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar-track {
    border-radius: 4px;
  }

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: $button-second;
  }
}

.tab-item__point-item {
  width: 360px;
  max-height: 679px;
  box-sizing: border-box;
  padding: 24px;

  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar-track {
    border-radius: 4px;
  }

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: $button-second;
  }

  &:hover {
    box-shadow: 0 24px 20px -10px rgba(0, 0, 120, 0.1);

    .tab-item__point-info-button {
      background-color: $blue;
      color: $white;
      cursor: pointer;
      box-shadow: none;
    }
  }

  &:not(:first-child) {
    border-top: 1px solid $button-second;
  }
}

.tab-item__point-title {
  @include title-h5;
}

.tab-item__point-address {
  margin-bottom: 20px;
}

.tab-item__point-info-more-button {
  font-weight: bold;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $blue;
  cursor: pointer;
  width: fit-content;
  margin: 0 0 6px 0;

  &:hover {
    color: $hover-text;
  }
}

.tab-item__point-info {
  display: flex;
  flex-direction: column-reverse;
  position: relative;

  input ~ .tab-item__point-about {
    display: none;
  }

  input:checked ~ .tab-item__point-about {
    display: block;
  }
}

.tab-item__point-info-button {
  font-weight: bold;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $blue;
  border: 1px solid $blue;
  box-sizing: border-box;
  padding: 7px 22px;
  background-color: $white;
  position: absolute;
  bottom: 0;
  right: 0;
  outline: none;

  &:hover,
  &:focus {
    background-color: $white;
    box-shadow: none;
  }
}

.tab-item__point-map-pin {
  width: 32px;
  height: 42px;
  position: absolute;
  top: 50%;
  left: 50%;

  button {
    width: 32px;
    height: 42px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    svg {
      width: 32px;
      height: 42px;
    }
  }
}

.tab-item__point-info-close {
  display: none;
}

.tab-item__point-today {
  display: none;
}

@media (max-width: $tablet-max-width) {
  .tab-item__point-overlay {
    background: $white;
    align-items: flex-start;
    justify-content: flex-start;

    &--address {
      .tab-item__point-modal {
        height: 535px;
      }

      .tab-item__point-modal-info {
        height: 535px;
      }

      .tab-item__point-map {
        height: 100%;
      }

      .tab-item__point-list {
        height: 100%;
        max-height: unset;
        position: relative;
        bottom: 0;
        width: 100%;
        max-width: $tablet-max-width;
      }

      .tab-item__point-item {
        max-height: unset;
        padding: 24px;
      }
    }

    &--address-modal {
      .tab-item__point-modal {
        height: unset;
      }

      .tab-item__point-modal-info {
        height: unset;
        display: block;
      }

      .tab-item__point-list {
        max-height: unset;
        position: relative;
        bottom: unset;
        width: 100%;
        max-width: $tablet-max-width;
      }

      .tab-item__point-item {
        max-height: unset;
        box-sizing: border-box;
      }

      .tab-item__point-gallery {
        height: 532px;
        width: 100%;
      }

      .tab-item__point-gallery-top {
        height: 423px;
      }

      .tab-item__point-gallery-thumbs {
        width: 576px;
        height: 85px;
        margin: 16px auto 0;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .tab-item__point-gallery-wrapper {
        display: flex;
        box-sizing: content-box;

        &--thumbs {
          width: 422px;
          overflow: auto;
          scrollbar-width: none;
          -ms-overflow-style: none;

          &::-webkit-scrollbar {
            display: none;
          }
        }
      }

      .tab-item__point-gallery-slide-top {
        transition-property: transform;
      }

      .tab-item__point-gallery-slide-thumbs {
        height: 85px;
        width: auto;
        transition-property: transform;

        img {
          height: 85px;
          width: auto;
        }
      }

      .tab-item__point-gallery-prev {
        cursor: pointer;
        width: 48px;
        height: 48px;
        background-image: url("../img/modal-arrow-left-blue.svg");
        background-size: cover;

        &:hover {
          background-image: url("../img/modal-arrow-left_hover.svg");
        }
      }

      .tab-item__point-gallery-next {
        cursor: pointer;
        width: 48px;
        height: 48px;
        background-image: url("../img/modal-arrow-right-blue.svg");
        background-size: cover;

        &:hover {
          background-image: url("../img/modal-arrow-right_hover.svg");
        }
      }
    }
  }

  .tab-item__point-modal {
    width: 100%;
    max-width: $tablet-max-width;
    height: 100vh;
    background-color: $white;
    border-radius: unset;

    h2 {
      @include title-tablet-h2;
      padding: 32px 0 32px 32px;
    }
  }

  .tab-item__point-modal-close {
    top: 34px;
    right: 32px;
  }

  .tab-item__point-modal-info {
    flex-direction: column;
    justify-content: flex-end;
    height: calc(100vh - 270px);
  }

  .tab-item__point-map {
    width: 100%;
    max-width: $tablet-max-width;
    border-right: unset;
    height: 100%;

    iframe {
      height: 100%;
      border-radius: unset;
    }
  }

  .tab-item__point-list {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: $tablet-max-width;
  }

  .tab-item__point-item {
    width: 100%;
    max-width: $tablet-max-width;
    padding: 32px;
    background-color: $white;

    &:hover {
      box-shadow: none;
    }

    &:not(:first-child) {
      border-top: none;
      display: none;
    }
  }

  .tab-item__point-info-button {
    background-color: $blue;
    color: $white;
    cursor: pointer;
    box-shadow: none;
  }

  .tab-item__point-map-pin {
    width: 23px;
    height: 33px;

    button {
      width: 23px;
      height: 33px;

      svg {
        width: 23px;
        height: 33px;
      }
    }
  }
}

@media (max-width: $mobile-max-width) {
  .tab-item__point-overlay {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 37, 41, 0.8);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    &--hide {
      display: none;
    }

    &--mobile {
      height: 100vh;
      background-color: $white;

      .tab-item__point-modal {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;

        h2 {
          display: none;
        }
      }

      .tab-item__point-modal-close {
        display: none;
      }

      .tab-item__point-modal-info {
        height: 100vh;
      }

      .tab-item__point-list {
        position: absolute;
        top: 58px;
        left: 0;
        max-height: 100%;
      }

      .tab-item__point-item {
        max-height: 100%;
      }

      .tab-item__point-map {
        display: none;
      }

      .tab-item__point-info-close {
        display: block;
        position: absolute;
        top: 0;
        right: 24px;
        border: 0;
        padding: 0;
        cursor: pointer;
        outline: none;
        width: 24px;
        height: 24px;

        background-image: url("../img/menu-close-icon.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-color: transparent;
      }

      .tab-item__point-info-more-button {
        position: fixed;
        top: 24px;
        right: 24px;
        width: 24px;
        height: 24px;

        background-image: url("../img/menu-close-icon.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-color: transparent;

        span {
          display: none;
        }
      }

      .tab-item__point-info-button {
        border: none;
        padding: 19px 22px;
        color: $white;
        background-color: $blue;
        position: relative;
        width: 100%;
        max-width: 591px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover,
        &:focus {
          color: $white;
          background-color: $blue;
        }

        &::after {
          display: block;
          content: "";
          width: 8px;
          height: 12px;
          margin: -2px 0 0 8px;
          background-image: url("../img/arrow-button.svg");
          background-size: cover;
        }
      }
    }

    &--address {
      position: relative;
      z-index: unset;
      background: unset;
      display: unset;

      .tab-item__point-modal {
        height: 471px;
      }

      .tab-item__point-modal-info {
        height: 471px;
      }

      .tab-item__point-list {
        max-width: $mobile-max-width;
        overflow: unset;
      }

      .tab__info-list {
        &--point {
          margin: 0 0 24px;

          .tab__info-description {
            font-size: 18px;
            line-height: 22px;
          }

          .tab-item__point-service {
            width: 24px;
            margin: 0 6px 0 0;
          }
        }
      }

      .tab-item__point-modal-buttons {
        width: 272px;
        margin: 24px auto 0;
        display: flex;
        justify-content: flex-start;
      }

      .tab-item__view-button {
        width: 128px;
      }
    }

    &--address-modal {
      background: $white;

      .tab-item__point-gallery {
        height: 250px;
        width: 100%;
      }

      .tab-item__point-gallery-top {
        height: 250px;
      }

      .tab-item__point-gallery-thumbs {
        display: none;
      }
    }
  }

  .tab-item__point-modal {
    h2 {
      padding: 24px 105px 24px 24px;
    }
  }

  .tab-item__point-modal-close {
    top: 24px;
    right: 24px;
  }

  .tab-item__point-modal-info {
    height: calc(100vh - 240px);
  }

  .tab-item__point-list {
    max-width: $mobile-max-width;
  }

  .tab-item__point-item {
    max-width: $mobile-max-width;
    padding: 24px;
  }

  .tab-item__point-map-pin {
    width: 18px;
    height: 25px;

    button {
      width: 18px;
      height: 25px;

      svg {
        width: 18px;
        height: 25px;
      }
    }
  }

  .tab-item__point-modal-buttons {
    width: 272px;
    margin: 24px auto 0;
    display: flex;
    justify-content: flex-start;
  }

  .tab-item__view-button {
    width: 128px;
  }
}
