.interview {
    &__diagram {
        width: 149px;
        height: 149px;
        margin: 24px 0 0;
    }

    &__diagram-legend {
        margin: 24px 0 0;
    }

    &__legend-list {
        @include list;

        display: flex;
        flex-direction: column;

        li {
            font-size: 0.875em;

            span {
                font-family: $Stratos;
                text-align: center;
                line-height: 200%;
            }

            &:last-child {
                margin: 0;
            }
        }
    }
}
