.faq {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 63px 0;
}

.faq__wrapper {
  width: 100%;
  max-width: 1215px;
  margin: 0 auto;
  text-align: left;

  h2 {
    margin: 0;
    color: $blue;
    font-family: $Stratos;
    font-weight: normal;
    font-size: 32px;
    line-height: 38px;
  }
}

.faq__list {
  list-style: none;
  margin: 36px 0 36px;
  padding: 0;
}

.faq__item {
  width: 100%;
  margin: 0 0 5px;

  p {
    margin: 0;
    font-size: 24px;
    line-height: 32px;
  }

  & input:checked + .faq__item-question-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
  }

  & input:checked:hover {
    & + .faq__item-question-title {
      color: $hover-text;

      &::before {
        background-image: url("../img/minus-hover-icon.svg");
      }
    }
  }

  & input:checked + .faq__item-question-title::before {
    display: block;
    content: "";
    width: 48px;
    height: 48px;
    background-image: url("../img/minus-icon.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  & input:checked ~ .faq__item-answer {
    max-height: 1000px;
    opacity: 1;
    transition: all 1s ease;
  }

  &:not(:first-child) {
    .faq__item-question-title {
      border-top: 1px solid $light-gray-border;
    }
  }
}

.faq__item-answer {
  opacity: 0;
  max-height: 0;
  transition: all 0.5s ease;
  margin-top: -10px;
  position: relative;
  z-index: -1;
  box-sizing: border-box;
  padding: 5px 0 5px 100px;
  width: 800px;

  & > p,
  li {
    font-size: 16px;
    line-height: 24px;
  }
}

.faq__item-question-title {
  font-family: $Stratos;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: $blue;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  padding: 5px 0;
  position: relative;
  z-index: 10;

  span {
    width: 800px;
  }

  &::before {
    display: block;
    content: "";
    width: 48px;
    height: 48px;
    margin: 0 16px 0 0;
    background-image: url("../img/plus-icon.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &:hover,
  &:focus {
    color: $hover-text;

    &::before {
      background-image: url("../img/plus-hover-icon.svg");
    }
  }
}

.faq__button {
  width: 272px;
  margin: 0 0 0 7px;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  letter-spacing: 0.03em;

  &::after {
    margin: 2px 0 0 0;
    display: block;
    content: "";
    width: 8px;
    height: 12px;
    background-image: url("../img/arrow-button.svg");
  }
}

@media (max-width: $tablet-max-width) {
  .faq {
    padding: 38px 32px 38px 31px;
  }

  .faq__wrapper {
    h2 {
      font-size: 24px;
      line-height: 24px;
    }
  }

  .faq__list {
    margin: 13px 0 36px;
  }

  .faq__item {
    margin: 0 0 20px;

    & > input {
      display: none;
    }

    & input:checked + .faq__item-question-title::before {
      width: 32px;
      height: 32px;
      background-image: url("../img/minus-icon-tablet.svg");
    }
  }

  .faq__item-answer {
    box-sizing: border-box;
    padding: 15px 0 5px 50px;
    width: 100%;
    max-width: 800px;

    & > p,
    li {
      font-size: 12px;
      line-height: 19px;
    }
  }

  .faq__item-question-title {
    font-size: 16px;
    line-height: 19px;

    padding: 20px 0 0 0;

    span {
      width: 454px;
    }

    &::before {
      width: 32px;
      height: 32px;
      margin: 0 16px 0 0;
      background-image: url("../img/plus-icon-tablet.svg");
    }

    &:hover,
    &:checked {
      color: $hover-text;

      &::before {
        background-image: url("../img/plus-hover-icon-tablet.svg");
      }
    }
  }

  .faq__button {
    width: 576px;
    text-align: center;
    margin: 0;
    padding: 20px 30px;
    display: flex;
    justify-content: center;
    letter-spacing: 0.03em;

    &::after {
      margin: 2px 0 0 8px;
      display: block;
      content: "";
      width: 8px;
      height: 12px;
      background-image: url("../img/arrow-button.svg");
    }
  }
}

@media (max-width: $mobile-max-width) {
  .faq {
    padding: 40px 23px 38px 24px;
  }

  .faq__list {
    margin: 13px 0 36px;
  }

  .faq__item {
    width: 100%;
    margin: 0 0 20px;

    & input:checked + .faq__item-question-title::before {
      width: 32px;
      height: 32px;
      background-image: url("../img/minus-icon-tablet.svg");
    }
  }

  .faq__item-answer {
    box-sizing: border-box;
    padding: 15px 0 5px 50px;
    width: 100%;
    max-width: 800px;

    & > p,
    li {
      font-size: 12px;
      line-height: 19px;
    }
  }

  .faq__item-question-title {
    font-size: 16px;
    line-height: 19px;

    padding: 20px 0 0 0;

    span {
      width: 198px;
    }

    &::before {
      width: 32px;
      height: 32px;
      margin: 0 16px 0 0;
      background-image: url("../img/plus-icon-tablet.svg");
    }

    &:hover,
    &:checked {
      color: $hover-text;

      &::before {
        background-image: url("../img/plus-hover-icon-tablet.svg");
      }
    }
  }

  .faq__button {
    width: 272px;
  }
}
