.page-footer {
  width: 100%;
  margin: 0 auto;
  flex: 0 0 auto;
}

.page-footer__help {
  background-color: $blue;
  width: 100%;
}

.page-footer__help-wrapper {
  color: $white;
  width: 100%;
  max-width: 1215px;
  margin: 0 auto;
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
}

.page-footer__help-list {
  list-style: none;
  margin: 0;
  padding: 10px 0 5px;
  display: flex;
  justify-content: flex-start;
  width: 550px;
}

.page-footer__help-item {
  a {
    margin: 0;
    width: unset;
    color: $white;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
  }

  &:nth-child(1) {
    a {
      margin: 0;
      width: unset;
    }

    margin: 0 88px 0 0;
  }

  &:nth-child(2) {
    margin: 0 83px 0 0;
    width: unset;
  }

  &:hover,
  &:focus {
    a {
      color: $hover-text;
    }

    .page-footer__help-item-icon {
      svg {
        fill: $hover-text;
      }
    }
  }
}

.page-footer__help-item-icon {
  width: 32px;
  margin: 0 10px 0 0;

  svg {
    width: 32px;
    height: 32px;
    fill: $blue;
  }
}

.page-footer__help-form {
  position: relative;
  width: 388px;

  &::after {
    position: absolute;
    top: 17px;
    right: 17px;
    display: block;
    content: "";
    width: 24px;
    height: 24px;
    background-image: url("../img/search-icon.svg");
  }

  & input {
    width: 388px;
    height: 56px;
    border-radius: 8px;
    border: none;
    box-sizing: border-box;
    padding: 26px 0 10px 16px;
  }

  & input:hover,
  & input:focus,
  & input:active {
    border: 1px solid $light-gray;
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 120, 0.05));
  }

  & input ~ label {
    position: absolute;
    color: $light-gray;
    top: 18px;
    left: 16px;
    pointer-events: none;
    transition: 0.3s;
  }

  & input:focus ~ label,
  & input:not(:focus):valid ~ label {
    top: 8px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
  }
}

.page-footer__nav,
.page-footer__copyright {
  background-color: $background-footer;
}

.page-footer__nav {
  padding: 22px 0 48px;
}

.page-footer__copyright {
  padding: 16px 0 12px;
}

.page-footer__nav-wrapper {
  width: 1208px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  text-align: left;
}

.page-footer__section {
  &:nth-child(1) {
    width: 360px;
    margin-right: 50px;
    order: 1;
  }

  &:nth-child(2) {
    width: 280px;
    margin-right: 132px;
    order: 2;
  }

  &:nth-child(3) {
    width: 380px;
    order: 3;
  }

  &:nth-child(4) {
    width: 230px;
    margin-right: 182px;
    order: 4;
  }

  & > input {
    display: none;
  }

  &--contacts {
    width: 636px;
    margin: 68px 0 0 0;
    display: flex;
    justify-content: space-between;
    order: 5;
  }
}

.page-footer__nav-list {
  list-style: none;
  margin: 16px 0 0;
  padding: 0;
}

.page-footer__nav-item {
  margin: 16px 0 0;
  outline: none;

  a {
    text-decoration: none;
    color: $black-text;
    cursor: pointer;
  }

  a:hover,
  a:focus  {
    color: $hover-text;
  }

  &--mark {
    position: relative;

    & a::before {
      position: absolute;
      top: -2px;
      left: -28px;
      display: block;
      content: "";
      width: 24px;
      height: 24px;
      background-image: url("../img/pen-icon.svg");
    }

    a:hover,
    a:focus  {
      color: $hover-text;

      &::before {
        background-image: url("../img/pen-hover-icon.svg");
      }
    }
  }

  &--info {
    position: relative;

    & a::before {
      position: absolute;
      top: 2px;
      left: -26px;
      display: block;
      content: "";
      width: 16px;
      height: 16px;
      background-image: url("../img/docs-icon.svg");
    }

    a:hover,
    a:focus  {
      color: $hover-text;

      &::before {
        background-image: url("../img/docs-hover-icon.svg");
      }
    }
  }
}

.page-footer__nav-item-pdf {
  margin: 16px 0 0 0;
  position: relative;

  a {
    color: $blue;
    text-decoration: none;
  }

  a:hover,
  a:focus  {
    color: $hover-text;

    &::before {
      background-image: url("../img/pdf-hover-icon.svg");
    }
  }

  & a::before {
    position: absolute;
    top: 6px;
    left: -28px;
    display: block;
    content: "";
    width: 16px;
    height: 16px;
    background-image: url("../img/pdf-icon.svg");
    background-repeat: no-repeat;
  }
}

.page-footer__section-title {
  font-family: $Stratos;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: $blue;
  margin: 32px 0 0;
  display: block;

  a {
    text-decoration: none;
    color: $blue;
  }

  a:hover,
  a:focus  {
    color: $hover-text;
  }

  &--first-list {
    margin: 8px 0 0;
  }

  &--list {
    margin: 16px 0 0;
  }
}

.page-footer__networks-list {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin: 6px 0 0;
  padding: 0;
}

.page-footer__networks-item {
  margin: 0 10px 0 0;
  width: 36px;
  height: 36px;

  svg {
    width: 36px;
    height: 36px;
    fill: $blue;
    outline: none;
  }
}

.page-footer__networks-item-link {
  &:hover,
  &:focus {
    svg {
      fill: $hover-text;
    }
  }
}

.page-footer__section-contacts {
  a {
    font-family: $Stratos;
    font-weight: normal;
    font-size: 32px;
    line-height: 38px;
    color: $blue;
    text-decoration: none;
    display: block;
    margin: 6px 0 0;
  }

  a:hover,
  a:focus {
      color: $hover-text;
  }
}

.page-footer__copyright {
  border-top: 1px solid $button-second;
}

.page-footer__copyright-wrapper {
  width: 1208px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  text-align: left;
}

.page-footer__security-logo {
  width: 289px;
  display: flex;
  justify-content: space-between;
}

.page-footer__security-logo-secure {
  width: 86px;

  svg {
    width: 86px;
    height: 36px;
  }
}

.page-footer__security-logo-expert {
  width: 149px;

  svg {
    width: 149px;
    height: 36px;
  }
}

.page-footer__copyright-description {
  width: 800px;
  margin: 5px 0 0;

  p {
    margin: 0;
    color: $blue;
    font-size: 9px;
    line-height: 13px;
    letter-spacing: 0.03em;
  }
}

@media (max-width: $tablet-max-width) {
  .page-footer__help-wrapper {
    max-width: $tablet-max-width;
    box-sizing: border-box;
    padding: 32px 24px;
    display: block;
    text-align: left;
  }

  .page-footer__help-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 592px;
  }

  .page-footer__help-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;

    p {
      font-size: 16px;
      line-height: 19px;
      width: unset;
    }

    &:nth-child(1) {
      margin: 0 0 16px 0;
    }

    &:nth-child(2) {
      margin: 0 0 16px 0;
    }
  }

  .page-footer__help-item-icon {
    height: 32px;
  }

  .page-footer__help-form {
    margin: 25px 0 0;
    width: 592px;

    & input {
      width: 592px;
    }
  }

  .page-footer__nav {
    padding: 22px 32px 26px;
  }

  .page-footer__copyright {
    padding: 0;
  }

  .page-footer__nav-wrapper {
    width: 100%;
    max-width: 1208px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }

  .page-footer__section {
    &:nth-child(1) {
      width: 100%;
      margin-right: 50px;
      order: 1;
    }

    &:nth-child(2) {
      width: 100%;
      margin-right: 132px;
      order: 2;
    }

    &:nth-child(3) {
      width: 100%;
      order: 4;
    }

    &:nth-child(4) {
      width: 100%;
      margin-right: 182px;
      order: 3;
    }

    & > input {
      display: none;
    }

    &--contacts {
      width: 100%;
      margin: 0;
      flex-direction: row-reverse;
      order: 5;
    }

    & input:checked ~ .page-footer__nav-list {
      &--tablet {
        display: block;
      }
    }
  }

  .page-footer__nav-list {
    list-style: none;
    margin: 16px 0 0;
    padding: 0;

    &--tablet {
      display: none;
    }
  }

  .page-footer__nav-item {
    width: 350px;
    margin: 16px 0 0;

    a {
      font-size: 16px;
      line-height: 19px;
    }

    a:hover {
      color: $hover-text;
    }

    &--request {
      width: 300px;
    }

    &--mark {
      margin: 16px 0 0 30px;
      display: flex;
      justify-content: flex-start;
      align-items: center;

    }

    &--info {
      display: flex;
      justify-content: flex-start;
      align-items: center;

    }
  }

  .page-footer__nav-item-pdf {
    width: 574px;
    margin: 46px 0 0 30px;
    display: flex;
    justify-content: flex-start;

    a {
      width: 530px;
      font-family: $Stratos;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
    }
  }

  .page-footer__section-title {
    font-size: 18px;
    line-height: 22px;
    margin: 20px 0 0;
    padding: 26px 0 0;
    border-top: 1px solid $button-second;
    cursor: pointer;

    &:hover {
      color: $hover-text;
    };

    &--first-list {
      margin: 14px 0 0;
      padding: 11px 0 0;
    }

    &--list {
      margin: 15px 0 0;
      padding: 11px 0 0;
    }

    &--menu {
      &:after {
        display: block;
        content: "";
        width: 16px;
        height: 20px;
        background-image: url("../img/right-big.svg");
        background-repeat: no-repeat;
        float: right;
        margin: 3px 9px 0 0;
      }
    }

    &--first {
      margin: 21px 0 0;
      padding: 0;
      border-top: none;
    }

    &--sec {
      margin: 22px 0 0;
      padding: 12px 0 0;
    }

    &--third {
      margin: 15px 0 0;
      padding: 13px 0 0;
    }

    &--fourth {
      margin: 30px 0 0;
      padding: 0;
      border-top: none;
    }

    &--hide {
      display: none;
    }

  }

  .page-footer__section-networks {
    margin: 52px 0 0;
  }

  .page-footer__networks-list {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    margin: 6px 0 0;
    padding: 0;
  }

  .page-footer__networks-item {
    margin: 0 10px 0 0;

    &:last-child {
      margin: 0;
    }
  }

  .page-footer__section-contacts {
    a {
      font-family: $Stratos;
      font-weight: normal;
      font-size: 32px;
      line-height: 38px;
      color: $blue;
      text-decoration: none;
      display: block;
      margin: 6px 0 0;
    }
  }

  .page-footer__copyright {
    border-top: 1px solid $button-second;
  }

  .page-footer__copyright-wrapper {
    width: 100%;
    max-width: $tablet-max-width;
    display: block;
    box-sizing: border-box;
    padding: 18px 33px 7px;
    margin: 0 auto;
    text-align: left;
  }

  .page-footer__security-logo {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .page-footer__security-logo-secure {
    width: 86px;

    svg {
      width: 86px;
      height: 36px;
    }
  }

  .page-footer__security-logo-expert {
    width: 149px;

    svg {
      width: 149px;
      height: 36px;
    }
  }

  .page-footer__copyright-description {
    width: 100%;
    margin: 10px 0 0;

    p {
      margin: 0;
      color: $blue;
      font-size: 9px;
      line-height: 13px;
      letter-spacing: 0.03em;
    }
  }
}

@media (max-width: $mobile-max-width) {
  .page-footer__help-wrapper {
    max-width: $mobile-max-width;
    box-sizing: border-box;
    padding: 32px 24px;
    display: block;

  }

  .page-footer__help-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    max-width: 592px;
  }

  .page-footer__help-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;

    p {
      font-size: 16px;
      line-height: 19px;
      width: unset;
    }

    &:nth-child(1) {
      margin: 0 0 16px 0;
    }

    &:nth-child(2) {
      margin: 0 0 16px 0;
    }
  }

  .page-footer__help-item-icon {
    height: 32px;
  }

  .page-footer__help-form {
    margin: 25px 0 0;
    width: 100%;
    max-width: 592px;

    & input {
      width: 100%;
      max-width: 592px;
    }
  }

  .page-footer__nav {
    padding: 22px 24px 26px;
  }

  .page-footer__copyright {
    padding: 0;
  }

  .page-footer__nav-wrapper {
    width: 100%;
    max-width: 592px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }

  .page-footer__section {
    &:nth-child(1) {
      width: 100%;
      margin-right: 50px;
      order: 1;
    }

    &:nth-child(2) {
      width: 100%;
      margin-right: 132px;
      order: 2;
    }

    &:nth-child(3) {
      width: 100%;
      order: 4;
    }

    &:nth-child(4) {
      width: 100%;
      margin-right: 182px;
      order: 3;
    }

    & > input {
      display: none;
    }

    &--contacts {
      width: 100%;
      margin: 0;
      flex-direction: column-reverse;
      order: 5;
    }

    & input:checked ~ .page-footer__nav-list {
      &--tablet {
        display: block;
      }
    }
  }

  .page-footer__nav-list {
    list-style: none;
    margin: 16px 0 0;
    padding: 0;

    &--tablet {
      display: none;
    }
  }

  .page-footer__nav-item {
    width: 100%;
    max-width: 300px;
    margin: 16px 0 0;

    a {
      font-size: 16px;
      line-height: 19px;
    }

    a:hover {
      color: $hover-text;
    }

    &--request {
      width: 260px;
    }

    &--mark {
      margin: 16px 0 0 30px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    &--info {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }

  .page-footer__nav-item-pdf {
    width: 90%;
    max-width: 574px;
    margin: 46px 0 0 30px;
    display: flex;
    justify-content: flex-start;

    a {
      width: 90%;
      max-width: 574px;
      font-family: $Stratos;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      padding-right: 10px;
    }
  }

  .page-footer__section-title {
    font-size: 18px;
    line-height: 22px;
    margin: 20px 0 0;
    padding: 26px 0 0;
    border-top: 1px solid $button-second;
    cursor: pointer;

    &:hover {
      color: $hover-text;
    }
  ;

    &--first-list {
      margin: 14px 0 0;
      padding: 11px 0 0;
    }

    &--list {
      margin: 15px 0 0;
      padding: 11px 0 0;
    }

    &--menu {
      &:after {
        display: block;
        content: "";
        width: 16px;
        height: 20px;
        background-image: url("../img/right-big.svg");
        background-repeat: no-repeat;
        float: right;
        margin: 3px 9px 0 0;
      }
    }

    &--first {
      margin: 21px 0 0;
      padding: 0;
      border-top: none;
    }

    &--sec {
      margin: 22px 0 0;
      padding: 12px 0 0;
    }

    &--third {
      margin: 15px 0 0;
      padding: 13px 0 0;
    }

    &--fourth {
      margin: 30px 0 0;
      padding: 0;
      border-top: none;
    }

    &--hide {
      display: none;
    }

    &--menu {
      &:after {
        display: block;
        content: "";
        width: 20px;
        height: 20px;
        background-image: url("../img/right-big.svg");
        background-repeat: no-repeat;
        float: right;
        margin: 3px 6px 0 0;
      }
    }
  }

  .page-footer__section-networks {
    margin: 16px 0 0;
  }

  .page-footer__networks-list {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    margin: 6px 0 0;
    padding: 0;
  }

  .page-footer__networks-item {
    margin: 0 10px 0 0;

    &:last-child {
      margin: 0;
    }
  }

  .page-footer__section-contacts {
    a {
      font-family: $Stratos;
      font-weight: normal;
      font-size: 32px;
      line-height: 38px;
      color: $blue;
      text-decoration: none;
      display: block;
      margin: 6px 0 0;
    }
  }

  .page-footer__copyright {
    border-top: 1px solid $button-second;
  }

  .page-footer__copyright-wrapper {
    width: 100%;
    max-width: $tablet-max-width;
    display: block;
    box-sizing: border-box;
    padding: 18px 24px 19px;
    margin: 0 auto;
    text-align: left;
  }

  .page-footer__security-logo {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .page-footer__security-logo-secure {
    width: 86px;

    svg {
      width: 86px;
      height: 36px;
    }
  }

  .page-footer__security-logo-expert {
    width: 149px;

    svg {
      width: 149px;
      height: 36px;
    }
  }

  .page-footer__copyright-description {
    width: 100%;
    margin: 10px 0 0;

    p {
      margin: 0;
      color: $blue;
      font-size: 9px;
      line-height: 13px;
      letter-spacing: 0.03em;
    }
  }
}
