.page-header__nav,
.page-header__copyright {
  background-color: $white;
}

.page-header__nav {
  padding: 0 0 48px;
  box-sizing: border-box;
  position: absolute;
  z-index: 100;
  left: 0;
  width: 100%;
  max-width: $desktop-max-width;

  &--hide {
    display: none;
  }
}

.page-header__copyright {
  padding: 16px 0 12px;
}

.page-header__nav-wrapper {
  width: 1208px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  text-align: left;
}

.page-header__section {
  &:nth-child(1) {
    width: 360px;
    margin-right: 50px;
  }

  &:nth-child(2) {
    width: 280px;
    margin-right: 132px;

  }

  &:nth-child(3) {
    width: 380px;

  }

  &:nth-child(4) {
    width: 230px;
    margin-right: 182px;

  }

  &--contacts {
    width: 636px;
    margin: 68px 0 0 0;
    display: flex;
    justify-content: space-between;

  }
}

.page-header__section-wrapper {
  & input {
    display: none;
  }
}

.page-header__nav-list {
  list-style: none;
  margin: 16px 0 0;
  padding: 0;
}

.page-header__nav-item {
  margin: 16px 0 0;

  a {
    text-decoration: none;
    color: $black-text;
    cursor: pointer;
  }

  a:hover,
  a:focus {
    color: $hover-text;
  }

  &--mark {
    position: relative;

    & a::before {
      position: absolute;
      top: -2px;
      left: -28px;
      display: block;
      content: "";
      width: 24px;
      height: 24px;
      background-image: url("../img/pen-icon.svg");
    }

    a:hover,
    a:focus {
      color: $hover-text;

      &::before {
        background-image: url("../img/pen-hover-icon.svg");
      }
    }
  }

  &--info {
    position: relative;

    & a::before {
      position: absolute;
      top: 2px;
      left: -26px;
      display: block;
      content: "";
      width: 16px;
      height: 16px;
      background-image: url("../img/docs-icon.svg");
    }

    a:hover,
    a:focus {
      color: $hover-text;

      &::before {
        background-image: url("../img/docs-hover-icon.svg");
      }
    }
  }

  &--tablet {
    display: none;
  }
}

.page-header__nav-item-pdf {
  font-family: $Stratos;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 38px 0 0 0;
  position: relative;
  width: 722px;

  a {
    color: $blue;
    text-decoration: none;
  }

  & a::before {
    position: absolute;
    top: 6px;
    left: -28px;
    display: block;
    content: "";
    width: 16px;
    height: 16px;
    background-image: url("../img/pdf-icon.svg");
    background-repeat: no-repeat;
  }

  a:hover,
  a:focus {
    color: $hover-text;

    &::before {
      background-image: url("../img/pdf-hover-icon.svg");
    }
  }
}

.page-header__section-title {
  font-family: $Stratos;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: $blue;
  margin: 32px 0 0;
  display: block;

  &--first-list {
    margin: 35px 0 0;
  }

  &--list {
    margin: 9px 0 0;
  }

  &--second {
    margin: 35px 0 0;
  }

  &--third {
    margin: 65px 0 0;
  }

  &--fourth {
    margin: 35px 0 0;
  }

  &--fifth {
    margin: 30px 0 0;
  }

  a {
    text-decoration: none;
    color: $blue;
  }

  a:hover,
  a:focus {
    color: $hover-text;
  }
}

.page-header__networks-list {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin: 6px 0 0;
  padding: 0;
}

.page-header__networks-item {
  margin: 0 10px 0 0;
  width: 36px;
  height: 36px;

  svg {
    width: 36px;
    height: 36px;
    fill: $blue;
  }

  svg:hover {
    fill: $hover-text;
  }
}

.page-header__section-contacts {
  a {
    font-family: $Stratos;
    font-weight: normal;
    font-size: 32px;
    line-height: 38px;
    color: $blue;
    text-decoration: none;
    display: block;
    margin: 6px 0 0;
  }
}

.page-header__help-form {
  position: relative;
  width: 388px;
  margin: 32px 0 84px;

  &::after {
    position: absolute;
    top: 17px;
    right: 17px;
    display: block;
    content: "";
    width: 24px;
    height: 24px;
    background-image: url("../img/search-icon.svg");
  }

  & input {
    width: 388px;
    height: 56px;
    border-radius: 8px;
    border: 1px solid #CCCCE4;
    box-sizing: border-box;
    padding: 26px 0 10px 16px;
  }

  & input:hover,
  & input:focus,
  & input:active {
    border: 1px solid $light-gray;
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 120, 0.05));
  }

  & input ~ label {
    position: absolute;
    color: $light-gray;
    top: 18px;
    left: 16px;
    pointer-events: none;
    transition: 0.3s;
  }

  & input:focus ~ label,
  & input:not(:focus):valid ~ label {
    top: 8px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
  }
}

.page-header__section-help-list {
  display: flex;
  justify-content: space-between;
  width: 275px;
  list-style: none;
  margin: 87px 0 24px;
  padding: 0;

  a {
    color: $blue;
    text-decoration: none;
    font-size: 16px;
    line-height: 22px;
  }
}

.page-header__section-help-item {
  a:hover,
  a:focus {
    color: $hover-text;
  }
}

.page-header__section-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.page-header__section-item {
  margin: 0;
  padding: 0;

  & > input {
    display: none;
  }

  &:nth-child(1) {
    order: 1;
  }

  &:nth-child(2) {
    order: 2;
  }

  &:nth-child(3) {
    order: 3;
  }

  &:nth-child(4) {
    order: 4;
  }

  &:nth-child(5) {
    order: 5;
  }

  &:nth-child(6) {
    order: 6;
  }

  &:nth-child(7) {
    order: 7;
  }

  &:nth-child(8) {
    order: 8;
  }
}

.page-header__networks-item-link {
  &:hover,
  &:focus {
    svg {
      fill: $hover-text;
    }
  }
}

@media (max-width: $tablet-max-width) {
  .page-header__help-wrapper {
    max-width: $tablet-max-width;
    box-sizing: border-box;
    padding: 32px 24px;
    display: block;
    text-align: left;
  }

  .page-header__help-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 592px;
  }

  .page-header__help-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;

    p {
      font-size: 16px;
      line-height: 19px;
      width: unset;
    }

    &:nth-child(1) {
      margin: 0 0 16px 0;
    }

    &:nth-child(2) {
      margin: 0 0 16px 0;
    }
  }

  .page-header__help-item-icon {
    height: 32px;
  }

  .page-header__help-form {
    margin: 170px 0 0;
    width: 574px;

    & input {
      width: 574px;
    }
  }

  .page-header__nav {
    padding: 0 32px 26px;
    max-width: $tablet-max-width;
  }

  .page-header__copyright {
    padding: 0;
  }

  .page-header__nav-wrapper {
    width: 100%;
    max-width: 1208px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }

  .page-header__section {
    &:nth-child(1) {
      width: 100%;
      margin-right: 50px;
      order: 1;
    }

    &:nth-child(2) {
      width: 100%;
      margin-right: 132px;
      order: 2;
    }

    &:nth-child(3) {
      width: 100%;
      order: 4;
    }

    &:nth-child(4) {
      width: 100%;
      margin-right: 182px;
      order: 3;
    }

    &--contacts {
      width: 100%;
      margin: 0;
      flex-direction: row-reverse;
      order: 5;
    }

    & input:checked ~ .page-header__nav-list--tablet {
      display: block;
    }


    & input:checked ~ .page-header__section-title--menu {
      &:after {
        transform: rotate(90deg);
      }
    }
  }

  .page-header__nav-list {
    list-style: none;
    margin: 16px 0 0;
    padding: 0;

    &--tablet {
      display: none;
    }
  }

  .page-header__nav-item {
    width: 350px;
    margin: 16px 0 0;

    a {
      font-size: 16px;
      line-height: 19px;
    }

    a:hover {
      color: $hover-text;
    }

    &--request {
      width: 300px;
    }

    &--mark {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      padding: 0 0 0 28px;

      & a::before {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0 16px 0 0;
        display: block;
        content: "";
        width: 24px;
        height: 24px;
        background-image: url("../img/pen-icon.svg");
      }
    }

    &--info {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      padding: 0 0 0 28px;

      & a::before {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0 16px 0 0;
        display: block;
        content: "";
        width: 16px;
        height: 16px;
        background-image: url("../img/docs-icon.svg");
      }
    }

    &--tablet {
      display: block;
    }
  }

  .page-header__nav-item-pdf {
    display: none;
  }

  .page-header__section-title {
    font-size: 18px;
    line-height: 22px;
    margin: 20px 0 0;
    padding: 26px 0 0;
    border-top: 1px solid $button-second;
    cursor: pointer;
    pointer-events: visiblePainted;

    &:hover {
      color: $hover-text;
    }

    &--first-list {
      margin: 14px 0 0;
      padding: 11px 0 0;
    }

    &--list {
      margin: 15px 0 0;
      padding: 11px 0 0;
    }

    &--second {
      margin: 40px 0 0;
      border-top: none;
    }

    &--about {
      margin: 14px 0 0;
      padding: 10px 0 0;
      border-top: 1px solid $button-second;
    }

    &--menu {
      &:after {
        display: block;
        content: "";
        width: 16px;
        height: 20px;
        background-image: url("../img/right-big.svg");
        background-repeat: no-repeat;
        float: right;
        margin: 3px 9px 0 0;
      }
    }

    &--first {
      margin: 21px 0 0;
      padding: 0;
      border-top: none;
    }

    &--sec {
      margin: 14px 0 0;
      padding: 10px 0 0;
    }

    &--third {
      margin: 14px 0 0;
      padding: 10px 0 0;
    }

    &--fourth {
      margin: 14px 0 0;
      padding: 10px 0 0;
    }

    &--fifth {
      margin: 14px 0 0;
      padding: 10px 0 0;
    }

    &--hide {
      display: none;
    }
  }

  .page-header__section-networks {
    margin: 42px 0 0;
  }

  .page-header__networks-list {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    margin: 6px 0 0;
    padding: 0;
  }

  .page-header__networks-item {
    margin: 0 10px 0 0;

    &:last-child {
      margin: 0;
    }
  }

  .page-header__section-contacts {
    a {
      font-family: $Stratos;
      font-weight: normal;
      font-size: 32px;
      line-height: 38px;
      color: $blue;
      text-decoration: none;
      display: block;
      margin: 6px 0 0;
    }
  }

  .page-header__section-item {
    &:nth-child(1) {
      order: 6;
    }

    &:nth-child(2) {
      order: 1;
    }

    &:nth-child(3) {
      order: 2;
    }

    &:nth-child(4) {
      order: 3;
    }

    &:nth-child(5) {
      order: 4;
    }

    &:nth-child(6) {
      order: 5;
    }

    &:nth-child(7) {
      order: 7;
    }

    &:nth-child(8) {
      order: 8;
    }

    &:last-child {
      display: flex;
      width: 573px;
      justify-content: space-between;
      align-items: center;
    }
  }

  .page-header__section-help-list {
    width: 262px;
    margin: 42px 0 0;
  }
}

@media (max-width: $mobile-max-width) {
  .page-header__nav {
    padding: 0 24px 26px;
    max-width: $mobile-max-width;
  }

  .page-header__section-title {
    &--second {
      margin: 10px 0 0;
    }
  }

  .page-header__help-form {
    margin: 70px 0 0;
    width: 100%;
    max-width: 574px;

    & input {
      width: 100%;
      max-width: 574px;
    }
  }

  .page-header__section-networks {
    display: none;
  }

  .page-header__section-item {
    &:last-child {
      width: 100%;
      max-width: 574px;
    }
  }
}
