.page-main {
  width: 100%;
  margin: 0 auto;
  flex: 1 0 auto;

  &--vision {
    .oms {
      padding: 27px 0 0;
    }

    .oms-about__list-prev,
    .oms-about__list-next,
    .oms-about__list-pagination,
    .swiper-slide__wrapper,
    .swiper-slide__wrapper-retina {
      display: none;
    }

    .oms-about__list {
      width: 100%;
      position: relative;
      z-index: unset;

      &::after {
        display: none;

        &:hover {
          top: 0;
          transition: unset;
        }
      }
    }

    .oms-about__list-wrapper {
      position: relative;
      padding: 48px 0 63px;
      z-index: unset;
      flex-wrap: wrap;

      a {
        font-size: 1em;
      }
    }

    .oms-about__item {
      z-index: unset;
      display: block;
      box-sizing: border-box;
      margin: 0 24px 24px 0;
      padding: 32px 24px;
      min-width: 32%;
      max-width: 32%;
      min-height: unset;
      height: 234px;
      border: 2px solid $black-vision;
      color: $blue;

      &:nth-child(3n) {
        margin: 0 0 24px 0;
      }

      &:last-child {
        margin: 0 0 24px 0;
      }

      &:hover,
      &:focus {
        .slide-wrapper {
          top: -8px;
          background-size: 110%;
          box-shadow: 0 24px 32px -16px rgba(6, 6, 67, 0.2);
          transition: all 0.5s;
        }
      }
    }

    .mobile-app {
      h2,
      p {
        color: $white !important;
      }

      padding: 0;
      position: relative;
    }

    .mobile-app__description {
      width: 100%;

      h2 {
        font-size: 1.66em;
        line-height: 120%;
        width: 100%;
      }
    }

    .mobile-app__description-item {
      p {
        width: 100%;
      }
    }

    .mobile-app__img {
      display: none;
    }

    .main-mobile__banner-buttons {
      margin: 24px 0 90px 0;
    }

    .faq__wrapper {
      h2 {
        font-size: 1.66em;
        line-height: 120%;
      }
    }

    .faq__list {
      margin: 24px 0;
    }

    .faq__item {
      p {
        font-size: 1em;
      }
    }

    .faq__item-answer {
      width: 1045px;
    }

    .faq__item-question-title {
      span {
        width: 1045px;
      }
    }

    .faq__button {
      font-size: 1em;
      width: max-content;
      padding: 16px 24px;

      &::after {
        display: none;
      }
    }

    .button {
      font-size: 1em;
    }

    .info {
      font-size: 1em;
      flex-wrap: wrap;

      h3 {
        @include title-h3;

        color: $blue;

        a {
          color: $blue;
        }
      }

      p {
        margin: 16px 0 0;
      }

      a {
        text-decoration: none;
      }
    }

    .info__bonuses {
      width: 40%;
      margin: 0 125px 0 0;

      p {
        width: 100%;
      }
    }

    .info__knowledge {
      width: 49%;
      margin: 0;

      a:hover,
      a:focus {
        color: $hover-text;
      }
    }

    .info__news {
      width: 100%;
      margin: 56px 0 0;

      a:hover,
      a:focus {
        color: $hover-text;
      }
    }

    .info__knowledge-item {
      margin: 0 0 16px;
      width: 100%;

      a {
        color: $black-text;
      }
    }

    .tab-item__search-input {
      input,
      select {
        border: 2px solid $button-second;
      }

      &--bonuses {
        margin: 22px 0 0;

        select {
          width: 100%;
        }
      }
    }

    .info__bonuses-button {
      font-size: 1em;
      color: $white;
      background-color: $blue;
      padding: 18px;

      &:hover,
      &:focus {
        background-color: $hover-text;
        color: $white;
      }
    }

    .info__news-list {
      display: flex;
      justify-content: space-between;
    }

    .info__news-item {
      width: 32%;
      flex-direction: column;
      margin: 0;

      time {
        margin: 0 0 8px 0;
      }
    }

    .tab__region-item {
      &--central {
        width: 100%;
      }

      &--northwestern {
        width: 100%;
      }

      &--volga {
        width: 100%;
      }

      &--ural {
        width: 100%;
      }

      &--north-caucasian {
        width: 100%;
      }

      &--siberian {
        width: 100%;
      }

      &--southern {
        width: 100%;
      }

      &--far-eastern {
        width: 100%;
      }
    }

    .tab__map {
      display: none;
    }

    .tab__contacts-button {
      &::after {
        display: none;
      }
    }

    .tab-item__list-slide {
      max-width: 384px;
      min-width: 384px;
      min-height: 384px;
      max-height: 384px;
    }

    .tab__photo-section {
      &::after {
        display: none;
      }
    }

    .tab-item__about-address-button {
      height: max-content;
      line-height: 150%;
    }
  }
}

.page-main__wrapper {
  width: 1214px;
  margin: 64px auto 122px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

@media (max-width: $tablet-max-width) {
  .page-main {
    &--vision {
      .oms {
        padding: 24px 24px 0;
      }

      .oms-about__list-wrapper {
        padding: 0 0 24px;
      }

      .oms-about__item {
        margin: 0 24px 24px 0;
        min-width: 100px;
        max-width: 49%;
        flex-basis: 47%;
        min-height: unset;
        height: 220px;

        &:nth-child(2n) {
          margin: 0 0 24px 0;
        }

        &:nth-child(4n) {
          margin: 0 0 24px 24px;
        }

        &:nth-child(3n) {
          margin: 0 0 24px 0;
        }

        &:last-child {
          margin: 0 0 24px 0;
        }
      }

      .mobile-app__description {
        h2 {
          margin-top: 24px;
        }
      }

      .main-mobile__banner-buttons {
        margin: 24px 0;
      }

      .faq__item-answer {
        width: 100%;
        max-width: 1045px;
      }

      .faq__item-question-title {
        span {
          width: 100%;
          max-width: 1045px;
        }
      }

      .info__bonuses {
        width: 100%;
        margin: 0 0 60px 0;

        p {
          width: 100%;
        }
      }

      .info__knowledge {
        width: 100%;
      }

      .info__news {
        margin: 60px 0 0;
      }

      .info__news-list {
        flex-direction: column;
      }

      .info__news-item {
        width: 100%;
        margin: 0 0 24px;
      }
    }
  }

  .page-main__wrapper {
    width: 100%;
    max-width: $tablet-max-width;
    box-sizing: border-box;
    margin: 17px auto 64px;
    display: block;
  }
}

@media (max-width: $mobile-max-width) {
  .page-main {
    &--vision {
      .oms-about__list-wrapper {
        flex-direction: column;
      }

      .oms-about__item {
        margin: 0 0 24px 0;
        min-width: 100px;
        max-width: 100%;
        flex-basis: 100%;

        &:nth-child(2n) {
          margin: 0 0 24px 0;
        }

        &:nth-child(4n) {
          margin: 0 0 24px 0;
        }

        &:nth-child(3n) {
          margin: 0 0 24px 0;
        }

        &:last-child {
          margin: 0;
        }
      }

      .mobile-app__description {
        width: unset;
        padding-top: 24px;
        padding-bottom: 24px;

        h2 {
          width: 100%;
          margin-top: 0;
        }
      }
    }
  }

  .page-main__wrapper {
    max-width: $mobile-max-width;
    margin: 17px auto 42px;
  }
}
