.region__overlay {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 37, 41, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.region-modal__hide {
  display: none;
}

.region-modal {
  position: relative;
  z-index: 100;
  padding: 64px 80px 14px;
  background-color: $white;
  box-sizing: border-box;
  text-align: left;
  width: 1004px;
  height: 100%;
  max-height: 624px;
  border-radius: 8px;

  &::after {
    display: block;
    position: absolute;
    bottom: 0;
    left: 80px;
    content: "";
    width: 840px;
    height: 30%;
    background-image: url("../img/region-list-shadow.png");
    pointer-events: none;
  }
}

.region-modal__title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > h2 {
    font-family: $Stratos;
    font-weight: normal;
    font-size: 32px;
    line-height: 38px;
    color: $blue;
    margin: 0;
  }

  & > p {
    font-size: 14px;
    line-height: 20px;
    color: $light-gray;
    margin: 0;
  }
}

.region-modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  border: 0;
  padding: 0;
  cursor: pointer;
  outline: none;
  width: 32px;
  height: 32px;

  background-image: url("../img/menu-close-icon.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
}

.region-modal__form {
  width: 844px;
  height: 56px;
  margin: 24px 0 0;
}

.region-modal__search {
  input {
    box-sizing: border-box;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    padding: 18px 0 18px 16px;
    width: 100%;
    box-shadow: none;
    font-size: 14px;
    line-height: 20px;
    border: 1px solid $button-second;

    &::placeholder {
      font-size: 14px;
      line-height: 20px;
      color: $light-gray;
    }

    &:hover,
    &:focus {
      border: 1px solid $light-gray;
      filter: drop-shadow(0px 5px 10px rgba(0, 0, 120, 0.05));
    }
  }
}

.region-modal__region-list {
  position: relative;
  z-index: -10;
  list-style: none;
  margin: 40px 0 20px;
  padding: 0;
  height: 60%;
  overflow-y: auto;

  &::-webkit-scrollbar-track {
    border-radius: 4px;
  }
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: $button-second;
  }
}

.region-modal__region-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  h2 {
    font-family: $Stratos;
    font-weight: normal;
    font-size: 32px;
    line-height: 38px;
    color: $blue;
    margin: 0;
    min-width: 50px;
  }

  a {
    text-decoration: none;
    color: $black-text;

    &:hover {
      color: $hover-text;
    }
  }
}

.region-modal__region-item-list {
  list-style: none;
  margin: 0;
  padding: 20px 0 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  border-bottom: 1px solid $button-second;
  width: 95%;

  li {
    margin: 0 15px 15px 0;
    font-size: 14px;
    line-height: 20px;
    color: $black-text;
    width: 180px;
  }
}

@media (max-width: $tablet-max-width) {
  .region__overlay {
    align-items: flex-start;
  }

  .region-modal {
    padding: 49px 8px 95px 32px;
    border-radius: 0;
    width: 100%;
    max-width: $tablet-max-width;
    max-height: 100vh;
    left: 0;
    top: 0;

    &::after {
      display: none;
    }
  }

  .region-modal__title {
    display: block;

    & > h2 {
      font-size: 24px;
      line-height: 24px;
    }

    & > p {
      margin: 5px 0 0;
    }
  }

  .region-modal__close {
    position: absolute;
    top: 20px;
    right: 20px;
    border: 0;
    padding: 0;
    cursor: pointer;
    outline: none;
    width: 32px;
    height: 32px;

    background-image: url("../img/menu-close-icon.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
  }

  .region-modal__form {
    width: 100%;
    max-width: $tablet-max-width;
    box-sizing: border-box;
    margin: 24px 0 0;
    padding: 0 22px 0 0;
  }

  .region-modal__region-list {
    list-style: none;
    margin: 40px 0 0;
    padding: 0;
    height: 70%;
  }

  .region-modal__region-item {
    h2 {
      font-size: 24px;
      line-height: 24px;
    }
  }

  .region-modal__region-item-list {
    list-style: none;

    li {
      line-height: 17px;
    }
  }
}

@media (max-width: $mobile-max-width) {
  .region-modal {
    padding: 49px 8px 0 24px;
    max-width: $mobile-max-width;
  }

  .region-modal__form {
    max-width: $mobile-max-width;
    padding: 0 15px 0 0;
  }
}
