.sitemap {
  width: 100%;
  box-sizing: border-box;
  margin: 40px 0 0;
  font-family: $Stratos;
  font-weight: normal;
  font-size: 1.125em;
  line-height: 150%;

  &__list {
    @include list;
  }

  &__sub-list {
    margin: 16px 0 0;
  }

  &__item {
    margin: 0 0 16px;
    color: $blue;
  }

  a {
    text-decoration: none;

    &:hover {
      color: $hover-text;
    }
  }
}

@media (max-width: $tablet-max-width) {
  .sitemap {
    margin: 32px 0 0;

    &__sub-list {
      margin: 12px 0 0;
    }

    &__item {
      margin: 0 0 12px;
    }
  }
}
