.tab-item {
  width: 800px;
  text-align: left;

  h1 {
    @include title-h1;
  }

  h3 {
    @include title-h3;
    line-height: 34px;
    color: $blue;
    margin: 40px 0 32px;
  }

  &--address {
    width: 1212px;

    h1 {
      width: 796px;
    }
  }
}

.tab-item__list-container {
  width: 100%;
  min-width: 800px;
  max-width: 800px;
  height: max-content;
  max-height: 1212px;
  margin: 37px auto 0;
  overflow: hidden;

  &--article {
    margin: 56px auto 0;
    position: relative;
    height: 388px;
  }

  &--health {
    max-height: 2088px;

    .tab-item__list-slide {
      max-height: 504px;
      box-sizing: border-box;
      padding: 32px 32px 40px;
    }

    .tab-item__list-slide-title {
      h4 {
        @include title-tablet-h2;
        margin: 0 0 16px;
      }
    }
  }
}

.tab-item__list-wrapper {
  @include list;
  width: 100%;
  min-width: 800px;
  max-width: 800px;
  height: max-content;
  display: flex;
  flex-flow: row wrap;

  &--article {
    height: 388px;
    flex-flow: row nowrap;
  }
}

.tab-item__list-slide {
  width: 100%;
  max-width: 386px;
  min-height: 386px;
  max-height: 386px;
  border: 1px solid $button-second;
  transition: box-shadow 0.5s;
  position: relative;
  z-index: 10;
  margin: 0 24px 24px 0;

  &::after {
    display: block;
    content: "";
    width: 53px;
    height: 100%;
    background-image: url("../img/pattern.svg");
    position: absolute;
    z-index: -10;
    top: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.5s;
  }

  &:hover {
    box-shadow: 0 24px 20px -10px rgba(0, 0, 120, 0.1);
    transition: box-shadow 0.5s;

    .tab__honor-item-title {
      time {
        color: $blue;
      }

      h4 {
        color: $blue;
      }
    }

    &::after {
      opacity: 1;
      transition: opacity 0.5s;
    }
  }

  &--article {
    margin: 0 24px 0 0;
  }

  &:nth-child(2n) {
    margin: 0 0 24px 0;
  }
}

.tab-item__list-slide-link {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 386px;
  padding: 32px;
  text-decoration: none;
}

.tab-item__list-slide-title {
  time {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: $black-text;
  }

  h4 {
    @include title-h4;
    color: $black-text;
    line-height: 30px;
    margin: 16px 0 0;
  }
}

.tab-item__list-slide-photos-list {
  @include list;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
}

.tab-item__list-slide-photos-item {
  margin: 0 22px 0 0;

  &--more {
    min-width: 64px;
    height: 64px;
    border-radius: 8px;
    background-color: $background-footer;
    font-family: $Stratos;
    font-size: 20px;
    line-height: 30px;
    color: $black-text;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.tab-item__list-slide-photos-item-pic {
  width: 64px;
  height: 64px;

  &--hide {
    display: none;
  }
}

.tab-item__list-navigation {
  margin: 56px auto 0;
  display: flex;
  justify-content: space-between;
  width: 480px;

  &--hide {
    display: none;
  }

  &--article {
    position: absolute;
    top: 264px;
    left: -62px;
    width: 923px;
    margin: 0;
  }
}

.tab-item__list-prev,
.tab-item__list-next {
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-size: 48px 48px;
}

.tab-item__list-prev {
  background-image: url("../img/arrow_left-icon.svg");

  &:hover {
    background-image: url("../img/arrow_left-hover-icon.svg");
  }
}

.tab-item__list-next {
  background-image: url("../img/arrow_right-icon.svg");

  &:hover {
    background-image: url("../img/arrow_right-hover-icon.svg");
  }
}

.tab-item__list-pagination {
  max-width: 304px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin: 0;

  &--article {
    display: none;
  }
}

.tab-item__list-pagination-bullet {
  min-width: 46px;
  height: 46px;
  margin: 0 16px 0 0;
  border: 1px solid $button-second;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $Stratos;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: $blue;
  text-decoration: none;

  &:hover {
    border: 1px solid $hover-text;
    background-color: $hover-text;
    color: $white;
  }

  &:nth-child(4n) {
    margin: 0;
  }

  &--active {
    border: 1px solid $blue;
    background-color: $blue;
    color: $white;
  }
}

.tab-item__slide-topic {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: $light-gray;
  margin: 32px 0 8px;
}

.tab-item__slide-description {
  font-size: 16px;
  line-height: 24px;
  max-height: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  margin: 0 0 13px;

  p {
    margin: 0;
  }
}

.tab-item__slide-more {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: $blue;

  &:hover {
    color: $hover-text;
  }
}

@media (max-width: 1366px) {
  .tab-item__list-navigation {
    &--article {
      position: absolute;
      top: 0;
      left: unset;
      right: 0;
      width: 112px;
      margin: 0;
    }
  }
}

@media (max-width: $tablet-max-width) {
  .tab-item {
    width: 100%;
    max-width: $tablet-max-width;
    padding: 0 32px;
    margin: 40px 0 0;
    box-sizing: border-box;

    h1 {
      @include title-tablet-h1;
      width: 100%;
      max-width: 600px;
    }

    h3 {
      @include title-tablet-h2;
      margin: 32px 0 32px;
    }

    &--honor {
      max-width: 640px;
    }
  }

  .tab-item__list-container {
    max-width: 576px;
    height: max-content;
    margin: 0 auto;

    &--article {
      margin: 24px auto 0;
      position: relative;
      height: 388px;
    }

    &--health {
      max-height: 1845px;
      min-width: 576px;

      .tab-item__list-wrapper {
        flex-flow: row wrap;
        height: max-content;
        min-width: 576px;
      }

      .tab-item__list-slide {
        max-width: 276px;
        max-height: 441px;
        box-sizing: border-box;
        padding: 32px 32px 38px;

        &:nth-child(2n) {
          margin: 0 0 24px 0;
        }
      }

      .tab-item__list-slide-title {
        h4 {
          @include title-tablet-h2;
          line-height: 22px;
          margin: 0 0 16px;
        }
      }
    }
  }

  .tab-item__list-wrapper {
    margin: 24px 0 0;
    height: 1152px;
    max-width: 576px;

    &--article {
      margin: 0;
    }
  }

  .tab-item__list-slide {
    max-width: 274px;
    max-height: 358px;
  }

  .tab-item__list-slide-link {
    padding: 31px 27px 31px 31px;
    height: 360px;
  }

  .tab-item__list-slide-title {
    time {
      line-height: 19px;
    }

    h4 {
      @include title-tablet-h2;
      margin: 11px 0 0;
    }
  }

  .tab-item__list-slide-photos-item {
    margin: 0 12px 0 0;
  }

  .tab-item__list-prev,
  .tab-item__list-next {
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    background-size: 48px 48px;
    cursor: pointer;
    outline: none;

    &--article {
      width: 16px;
      height: 16px;
      background-repeat: no-repeat;
      background-size: 16px 16px;
    }
  }

  .tab-item__list-prev {
    &--article {
      background-image: url("../img/left-big.svg");
      margin: 4px 0 0;
      background-size: 10px 10px;

      &:hover {
        background-image: url("../img/left-big-hover.svg");
      }
    }
  }

  .tab-item__list-next {
    &--article {
      background-image: url("../img/right-big.svg");

      &:hover {
        background-image: url("../img/right-big-hover.svg");
      }
    }
  }

  .tab-item__slide-topic {
    margin: 24px 0 8px;
  }

  .tab-item__slide-description {
    font-size: 12px;
    line-height: 19px;
    max-height: 116px;
    margin: 0 0 18px;
  }

  .tab-item__slide-more {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: $blue;

    &:hover {
      color: $hover-text;
    }
  }
}

@media (max-width: $mobile-max-width) {
  .tab-item {
    max-width: $mobile-max-width;
    padding: 0 24px;
    margin: 24px 0 0;

    &--address {
      padding: 0;
      text-align: center;

      h1 {
        padding: 0 24px;
        text-align: left;
      }
    }
  }

  .tab-item__list-container {
    &--health {
      max-height: 3640px;
      min-width: unset;
      width: 100%;
      max-width: 591px;


      .tab-item__list-wrapper {
        flex-flow: column nowrap;
        height: max-content;
        min-width: unset;
        width: 100%;
        max-width: 591px;
      }

      .tab-item__list-slide {
        min-width: unset;
        width: 100%;
        max-width: 591px;
        max-height: 441px;
        box-sizing: border-box;
        padding: 32px 32px 38px;
        margin: 0 0 24px 0;

        &:nth-child(2n) {
          margin: 0 0 24px 0;
        }
      }

      .tab-item__list-slide-title {
        h4 {
          @include title-tablet-h2;
          line-height: 22px;
          margin: 0 0 16px;
        }
      }
    }
  }

  .tab-item__list-wrapper {
    max-width: 589px;
  }

  .tab-item__list-slide {
    width: 100%;
    max-width: 589px;
  }

  .tab-item__list-slide-photos-list {
    width: 216px;
  }

  .tab-item__list-navigation {
    margin: 32px auto 0;
    width: 272px;
  }

  .tab-item__list-pagination {
    max-width: 160px;
    padding: 0;
  }

  .tab-item__list-pagination-bullet {
    margin: 0 8px 0 0;

    &:nth-child(3n) {
      margin: 0;
    }

    &:nth-child(n + 4) {
      display: none;
    }
  }

}
